{% block field_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, label|default(null), { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_errors(form) }}
        <div class="controls">{{ form_widget(form) }}
            <span class="help-block">{{ hint|default('') }}</span>
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_widget %}
{% spaceless %}
    {% if macro is not defined %}
            {% import ':Form:macro.html.twig' as macro %}
    {% endif %}
    {% set type = type|default('text') %}
    {% set class = class|default('textInput medium') %}
    <input {{macro.hasErrors(form)}} type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock field_widget %}

