{% extends '::main_content.html.twig' %}
{% block content_title %}Semestres enregistrés pour cette délégation{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('semester_new') }}"> <i class="icon-add"></i>Nouveau semestre</a>
{% endblock %}
{% block main_content %}
<div class="span6">
    <div class="row-fluid">    
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th"></i>
                </span>    
                {% set currentSemester = app.session.get('currentSemester') %}
                <h5>Journées d'accueil du semestre sélectionné: du {{ currentSemester.startDate|date("d/m/Y") }} au {{ currentSemester.endDate|date("d/m/Y") }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Heure début</th>
                            <th>Heure fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for openHouse in openHouses %}
                        <tr>
                            <td class="center">{% if openHouse.date %}{{ openHouse.date | date('w') | day }} {{ openHouse.date | date('d/m/Y') }}{% endif %}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row-fluid">   
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-plus"></i></span><h5>Ajouter une journée d'accueil</h5>
            </div>                        
            <div class="widget-content nopadding">
                <div class="alert alert-info alert-padding">
                    Les dates des journées d'accueil seront affichées dans le formulaire de saisie d'une fiche apprenant, afin d'accélérer l'enregistrement de la date d'accueil.
                </div>
                <form action="{{ path('openhouse_create') }}" method="post" {{ form_enctype(openHouseForm) }} class="form-horizontal">
                    {{ form_widget(openHouseForm) }}
                    {{ form_rest(openHouseForm) }}
                    <div class="form-actions"> 
                        <button  class="btn" type="submit">Enregistrer la journée d'accueil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="span6">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-th"></i>
            </span>
            <h5>Tous les semestres de la délégation sélectionnée</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for semester in semesters %}
                          <tr>
                              <td>{% if semester.startDate %}{{ semester.startDate | date('d/m/Y') }}{% endif %}</td>
                              <td>{% if semester.endDate %}{{ semester.endDate|date('d/m/Y') }}{% endif %}</td>
                              <td><a href="{{ path('semester_show', { 'id': semester.id }) }}">Détails</a></td>
                          </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}