{% extends '::main_content.html.twig' %}
{% block content_title %}Semestres enregistrés pour cette délégation{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('semester_new') }}"> <i class="my-icon-add"></i>Nouveau semestre</a>
{% endblock %}
{% block main_content %}    
<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th"></i>
                </span>
                <h5>Tous les semestres de la délégation sélectionnée</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for semester in semesters %}
                              <tr>
                                  <td>{% if semester.startDate %}{{ semester.startDate | date('d/m/Y') }}{% endif %}</td>
                                  <td>{% if semester.endDate %}{{ semester.endDate|date('d/m/Y') }}{% endif %}</td>
                              </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th"></i>
                </span>    
                {% set currentSemester = app.session.get('currentSemester') %}
                <h5>Journées d'accueil du semestre sélectionné: du {{ currentSemester.startDate | date("d/m/Y") }} au {{ currentSemester.endDate | date("d/m/Y") }}</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Heure début</th>
                            <th>Heure fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for openHouse in openHouses %}
                        <tr>
                            <td class="center">{% if openHouse.date %}{{ openHouse.date | date('w') | day }} {{ openHouse.date | date('d/m/Y') }}{% endif %}</td>
                            <td class="center">{% if openHouse.startTime %}{{ openHouse.startTime | date('H:i') }}{% endif %}</td>
                            <td class="center">{% if openHouse.endTime %}{{ openHouse.endTime | date('H:i') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-md-12">
        {% include 'VirguleMainBundle:OpenHouse:new.html.twig' with { 'openHouseForm': openHouseForm }  %}
    </div>
</div>    
{% endblock %}
