{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
    <!-- Add 6 months to end date when a start date has been entered -->
    <script type='text/javascript'>
        
        $('#semester_startDateField').focus(function() {
alert('Handler for .focus() called.');
});
    </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Enregistrer un nouveau semestre{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('semester_create') }}" method="post" {{ form_enctype(semesterForm) }} class="form-horizontal">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-plus"></i></span><h5>Dates du semestres</h5>
        </div>                        
        <div class="widget-content">
            {{ form_row(semesterForm.startDate, { 'label': 'Date de début', 'id': 'semester_startDateField' }) }}
            {{ form_row(semesterForm.endDate, { 'label': 'Date de fin', 'id': 'semester_endDateField'  }) }}
            {{ form_rest(semesterForm) }}
            <div class="alert alert-info alert-padding">
                Sélectionnez ici les cours que vous souhaitez conserver pour ce semestre. Par exemple, vous pouvez en copier certains pour conserver le niveau et les horaires, et changer le formateur associé par la suite. 
                <br />Cette copie n'affecte pas les données précédemment enregistrées, et vous pouvez choisir de n'en sélectionner aucun.
            </div>
            <table class="table table-bordered table-striped table-hover with-check">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                        <th>Jour</th>
                        <th>Horaires</th>
                        <th>Niveau</th>
                        <th>Formateur</th>
                        <th>Salle</th>
                        <th>Etudiants inscrits</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td><input type="checkbox" name="courses[]" value="{{ course.id }}"/></td>
                        <td>{{ course.dayOfWeek | day }}</td>
                        <td>{{ course.startTime | date('H:i') }} - {{ course.endTime | date('H:i') }}</td>
                        <td class="center">
                            {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevelColorCode, 'classLevelLabel': course.classLevelLabel } %} 
                        </td>
                        <td>
                            {% for teacher in course.teachers %}
                                <a href="{{ path('teacher_show', { 'id': teacher['teacher_id'] }) }}">{{ teacher['teacher_firstName'] }} {{ teacher['teacher_lastName'] }}</a>{% if teacher != loop.last %},&nbsp;{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ course.classRoomName }}</td> 
                        <td class="center">{{ course.nbStudents }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="form-actions"> 
                <input class="btn btn-success" type="submit" value="Enregistrer le semestre" />                        
                <a class="btn btn-default" href="{{ path('semester_index') }}">Annuler</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}



        