<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphabétisation - {{ app.session.get('organizationBranchName') }}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}">      
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/bootstrap-virgule.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" media="screen" rel="stylesheet"/>
        <!-- Bootstrap -->
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }

          @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
              float: none;
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        </style>        
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.8.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.9.2.custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/uni-form.jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript">
      $(function() {

        // init Uni-Form
        $('form.uniForm').uniform();

        // specific for this page
        $(".browse a").click(function(e) {
          e.preventDefault();
          $("#formStyle").attr("href",$(this).attr('rel'));
          return false;
        });
        
        $('.date').datepicker({ dateFormat: 'dd/mm/yy' });
      }); 
    </script>
    {% endblock %}
  </head>
  <body>
    {% include '::header.html.twig' %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2" id="side_bar">
            {% include '::sidebar.html.twig' %}
            </div>
            <div class="span10" id="body">
               {% block body %}{% endblock %}
           </div>
        </div>
        <hr>
        <footer>
            <p>{% include '::footer.html.twig' %}</p>
        </footer>
    </div>
  </body>
</html>