<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
    Alphabétisation - {{ app.session.get('organizationBranchName') }}
    </title>
    <link rel="shortcut icon" href="/favicon.ico" />   
    <link href="{{ asset('css/uni-form.css') }}" media="screen" rel="stylesheet"/>
    <link href="{{ asset('css/default.uni-form.css') }}" id="formStyle" title="Default Style" media="screen" rel="stylesheet"/>
    <link href="{{ asset('css/new.css') }}" media="screen" rel="stylesheet"/>
    <link href="{{ asset('css/jquery-ui-1.9.2.custom.css') }}" media="screen" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('js/jquery-1.8.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.9.2.custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/uni-form.jquery.js') }}"></script>
    <script type="text/javascript">
      $(function() {

        // init Uni-Form
        $('form.uniForm').uniform();

        // specific for this page
        $(".browse a").click(function(e) {
          e.preventDefault();
          $("#formStyle").attr("href",$(this).attr('rel'));
          return false;
        });
        
        $('.date').datepicker({ dateFormat: 'dd/mm/yy' });
      }); 
    </script>
  </head>
  <body>
  {% include '::header.html.twig' %}

    <div class="container">
        <div id="content">{% block body %}{% endblock %}</div>
    </div>
  </body>
</html>