<header id="header">
    <nav id="nav">
        <ul>
            <li><a>{{ app.user.firstName }} {{ app.user.lastName }} ({{ app.user.role.label }})</a></li>
            <li><a>{{ app.session.get('organizationBranchName') }}</a></li>
            <li><a>Session du {{ app.session.get('semesterStartDate')|date("d/m/Y") }} au {{ app.session.get('semesterEndDate')|date("d/m/Y") }}</a></li>
            <li><a>Aide</a></li>
            <li><a href="{{ path('logout') }}" title="Déconnexion">Déconnexion</a></li>
        </ul>
    </nav>

    <div id="top_menu">
        <ul>
            <li><a class="welcome" href="">Accueil</a></li>
            <li><a class="minutes" href="">Compte-rendus</a></li>
            <li><a class="schedule" href="{{ path('course') }}">Planning des cours</a></li>
            <li><a class="students" href="{{ path('student_index') }}">Apprenants</a></li>
            <li><a class="teachers" href="{{ path('teacher_index') }}">Formateurs</a></li>
            <li><a class="statistics" href="{{ path('teacher_index') }}">Statistiques</a></li>
            <li><a class="user_profile" href="{{ path('teacher_show', { 'id': app.user.id }) }}">Mon profil</a></li>
            <li><a class="administration" href="{{ path('admin_show_logs') }}">Administration</a></li>
        </ul></div>
</header>