    <div class="navbar navbar-inverse navbar-fixed-top" id="top_bar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                <a class="navbar-link" href="{{ path('teacher_show', { 'id': app.user.id }) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                | <a class="navbar-link">Aide</a>
                | <a class="navbar-link" href="{{ path('logout') }}" title="Déconnexion">Déconnexion</a>
            </p>            
            <ul class="nav" id="top_menu">
              <li><a class="welcome" href="{{ path('welcome') }}">Accueil</a></li>
              <li><a href="">{{ app.session.get('organizationBranch').name }}</a></li>
              <li><a href="">Session du {{ app.session.get('semesterStartDate')|date("d/m/Y") }} au {{ app.session.get('semesterEndDate')|date("d/m/Y") }}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>