    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!--
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#"></a>
          -->
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                <a class="navbar-link" href="{{ path('teacher_show', { 'id': app.user.id }) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                | {{ app.session.get('organizationBranchName') }}
                | <a class="navbar-link">Session du {{ app.session.get('semesterStartDate')|date("d/m/Y") }} au {{ app.session.get('semesterEndDate')|date("d/m/Y") }}</a>
                | <a class="navbar-link">Aide</a>
                | <a class="navbar-link" href="{{ path('logout') }}" title="Déconnexion">Déconnexion</a>
            </p>
            <ul class="nav" id ="top_menu">
                <li><a class="welcome" href="{{ path('welcome') }}">Accueil</a></li>
                <li><a class="user_profile" href="{{ path('teacher_show', { 'id': app.user.id }) }}">Mon profil</a></li>
                <li><a class="minutes" href="{{ path('classsession_index') }}">Compte-rendus</a></li>
                <li><a class="schedule" href="{{ path('course_index') }}">Planning des cours</a></li>
                <li><a class="students" href="{{ path('student_index') }}">Apprenants</a></li>
                <li><a class="teachers" href="{{ path('teacher_index') }}">Formateurs</a></li>
                <li><a class="statistics" href="{{ path('teacher_index') }}">Statistiques</a></li>
                <li><a class="administration" href="{{ path('admin_show_logs') }}">Administration</a></li>                
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>