{% set githubUrl="https://github.com/crf310/site-suivi-des-cours" %}
{% set version="2.2.1" %}
<div id="virguleInformationPanel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>Outil de gestion des cours d'alphabétisation - version <a href="{{ githubUrl }}/releases/tag/{{ version }}">{{ version }}</a></h3>
            </div>
            <div class="modal-body">
                <h4>Signaler un problème ou émettre une suggestion</h4>
                <p>
                    Le mieux est de créer un compte sur Github et d'ouvrir un ticket, cela vous permettra de suivre l'avancée de celui-ci plus facilement, 
                    ainsi que de le commenter.
                </p>
                <div class="center-text">
                    <a href="{{ githubUrl }}/issues/new" target="_blank"><button class="btn btn-default"><i class="icon-github"></i> Ouvrir un ticket</button></a>
                </div>
                    <br />
                    <a href="{{ githubUrl }}/issues/">liste des tickets ouverts</a>
                
                <h4>Contact</h4>
                Guillaume Lucazeau : <a href="mailto:glucazeau@gmail.com">glucazeau@gmail.com</a>
            </div>
        </div>
    </div>
</div>