{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        {% include 'VirguleMainBundle:Teacher:form_header.html.twig' %}
    {% endblock %}
{%endblock %}
{% block content_title %}Modifier la fiche de {{ entity.firstname }} {{ entity.lastname }}{% endblock %}
{%block submenu %}
    {% if entity.id == app.user.id %}
        <a class="btn" href="{{ path('fos_user_change_password') }}"> <i class="my-icon-edit-password"></i>Changer mon mot de passe</a>
    {% endif %}
    <a class="btn" href="{{ path('teacher_show', { 'id': entity.id }) }}"> <i class="my-icon-user_show"></i>Retour à la fiche</a>
{% endblock %}
{% block main_content %}
<form action="{{ path('teacher_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="row">
        <div class="col-md-12 center">
            <div class="widget-box">
                    {% include 'VirguleMainBundle:Teacher:form.html.twig' with { 'form': edit_form }  %}
                    <div class="form-actions">                                     
                        <input class="btn btn-success" type="submit" value="Enregistrer les modifications" />
                        <a class="btn btn-default" href="{{ path('teacher_show', { 'id': entity.id }) }}">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
