{% extends '::base.html.twig' %}
{% block body %}
<div id="results_actions">
    <h1>Liste des utilisateurs</h1>
    <div class="action_tab">
        <a class="add_entry" href="{{ path('teacher_new') }}">
            Ajouter un utilisateur
        </a>
    </div><div class="action_tab">
        <a class="add_entry" href="{{ path('teacher_new') }}">
            Ajouter un utilisateur
        </a>
    </div>
</div>
<div id="results_table">
    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Téléphone fixe</th>
                <th>Téléphone portable</th>
                <th>Adresse email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities.currentPageResults %}
           <tr>
                <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>{{ entity.cellphoneNumber }}</td>
                <td><a href="mailto:{{ entity.emailAddress }}">{{ entity.emailAddress }}</a></td>
                <td>{{ entity.role }}</td>
                <td class="entity_actions">
                    <ul>
                        <li>
                            <a href="{{ path('teacher_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% include '::pager_footer.html.twig' with { nb_columns: 6 }  %}
    </table>
</div>
{% endblock %}