{% extends '::main_content.html.twig' %}
{% block content_title %}Listes d'apprenants{% endblock %}
 {%block submenu %}
<div class="btn-group">
        <a class="btn tip-bottom" title="Ajouter un compte utilisateur" href="{{ path('teacher_new') }}"> <i class="icon-add"></i>Nouvel utilisateur</a>
</div>
{% endblock %}
{% block main_content %}

<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Formateurs actifs</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Téléphone fixe</th>
                <th>Téléphone portable</th>
                <th>Adresse email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
           <tr>
                <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>{{ entity.cellphoneNumber }}</td>
                <td><a href="mailto:{{ entity.emailAddress }}">{{ entity.emailAddress }}</a></td>
                <td>{{ entity.role }}</td>
                <td class="entity_actions">
                    <ul>
                        <li>
                            <a href="{{ path('teacher_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}