{% extends '::main_content.html.twig' %}
{% block content_title %}Listes des formateurs{% endblock %}
{%block submenu %}
    {% if active %}
        <a class="btn tip-bottom" title="Voir les utilisateurs inactifs" href="{{ path('teacher_index', { 'active': 'false' }) }}"> <i class="icon-user-inactive"></i>Voir les utilisateurs inactifs</a>
    {% else %}
        <a class="btn tip-bottom" title="Voir les utilisateurs actifs" href="{{ path('teacher_index', { 'active': 'true' }) }}"> <i class="icon-user-active"></i>Voir les utilisateurs actifs</a>
    {% endif %}
    <a class="btn tip-bottom" title="Ajouter un compte utilisateur" href="{{ path('teacher_new') }}"> <i class="icon-add"></i>Nouvel utilisateur</a>
{% endblock %}
{% block main_content %}
<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Formateurs actifs</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Téléphone fixe</th>
                <th>Téléphone portable</th>
                <th>Adresse email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
           <tr>
                <td class="center">
                    {% if entity.isActive %}
                        <img src="{{ asset('img/icons/user_green.png') }}" title="Utilisateur actif" alt="Utilisateur actif" />
                    {% else %}
                        <img src="{{ asset('img/icons/user_red.png') }}" title="Utilisateur inactif" alt="Utilisateur inactif" />
                    {% endif %}
                </td>
                <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                <td>{{ entity.phoneNumber|phoneNumber }}</td>
                <td>{{ entity.cellphoneNumber|phoneNumber }}</td>
                <td><a href="mailto:{{ entity.emailAddress }}">{{ entity.emailAddress }}</a></td>
                <td>{{ entity.role }}</td>
                <td class="entity_actions">
                    <a href="{{ path('teacher_show', { 'id': entity.id }) }}">show</a>&nbsp;
                    <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}