{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.zclip.min.js') }}"></script>
    <script type='text/javascript'>
    {% set emailAddresses = "" %}
    {% for entity in entities %}
       {% set emailAddresses = emailAddresses ~ '\"' ~ entity.firstName ~ ' ' ~ entity.lastName ~ '\" <' ~ entity.email ~ '>, ' %}
    {% endfor %}
    $(document).ready(function(){
        $('a#copy-button').zclip({
            path:"{{ asset('swf/ZeroClipboard.swf') }}",
            copy:'{{ emailAddresses | raw }}',
            afterCopy:function(){
                alert('Les adresses emails ont été copiées avec succès');
            },
        });
    });
    </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Listes des formateurs {% if status == 'active' %}actifs{% else %}inactifs{% endif %}{% endblock %}
{%block submenu %}
    {% if status == 'active' %}
        <a class="btn" title="Voir les utilisateurs inactifs" href="{{ path('teacher_index', { 'status': 'inactive' }) }}"> <i class="my-icon-user-inactive"></i>Voir les utilisateurs inactifs</a>
    {% else %}
        <a class="btn" title="Voir les utilisateurs actifs" href="{{ path('teacher_index', { 'status': 'active' }) }}"> <i class="my-icon-user-active"></i>Voir les utilisateurs actifs</a>
    {% endif %}
    <a class="btn" id="copy-button" title="Copier les adresses emails" href="#"> <i class="my-icon-copy"></i>Copier les adresses emails</a>
    {% if is_granted('ROLE_SECRETARY') %}
        <a class="btn" title="Ajouter un compte utilisateur" href="{{ path('teacher_new') }}"> <i class="my-icon-add"></i>Nouvel utilisateur</a>
    {% endif %}
{% endblock %}
{% block main_content %}    
<div class="row">
    <div class="col-md-12 center">
        <div class="widget-box">
            <div class="widget-title">
                    <span class="label label-info tip-left" data-original-title="{{ entities | length }} cours">{{ entities | length }}</span>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Téléphone fixe</th>
                        <th>Téléphone portable</th>
                        <th>Adresse email</th>
                        <th>Rôle</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                   <tr>
                        <td class="center">
                            {% if entity.locked or entity.expired or entity.credentialsExpired %}
                                <img src="{{ asset('img/icons/user_gray.png') }}" title="Compte verrouillé ou expiré" alt="Compte verrouillé ou expiré" />
                            {% else %}
                                {% if entity.isActive %}
                                    <img src="{{ asset('img/icons/user_green.png') }}" title="Utilisateur actif" alt="Utilisateur actif" />
                                {% else %}
                                    <img src="{{ asset('img/icons/user_red.png') }}" title="Utilisateur inactif" alt="Utilisateur inactif" />
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ entity.firstName }} {{ entity.lastName }}</td>
                        <td>{{ entity.phoneNumber|phoneNumber }}</td>
                        <td>{{ entity.cellphoneNumber|phoneNumber }}</td>
                        <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                        <td>{{ entity.role }}</td>
                        <td class="entity_actions">
                            <a href="{{ path('teacher_show', { 'id': entity.id }) }}"><button class="btn btn-default btn-xs"><i class="icon-eye-open"></i> Détails</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>            
{% endblock %}