{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        {% include 'VirguleMainBundle:Teacher:form_header.html.twig' %}
    {% endblock %}
{%endblock %}
{% block content_title %}Créer un nouveau compte utilisateur{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('teacher_index') }}"> <i class="my-icon-list"></i>Retour à la liste des utilisateurs</a>
{% endblock %}
{% block main_content %}
<form action="{{ path('teacher_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="row">
        <div class="col-md-12 center">
            <div class="widget-box">
                    {% include 'VirguleMainBundle:Teacher:form.html.twig' with { 'form': form }  %}
                    <div class="form-actions">                                     
                        <input class="btn btn-success" type="submit" value="Créer le compte" />                        
                        <a class="btn btn-default" href="{{ path('teacher_index') }}">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}