{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block stylesheets %}
        <link href="{{ asset('css/pwdstrength.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery.pwstrength.min.js') }}"></script>
        <script type="text/javascript">
          jQuery(function($) { 
                $('#virgule_bundle_mainbundle_teachertype_password_first').pwstrength(); 
            });
        </script>       
    {% endblock %}
{%endblock %}
{% block content_title %}Créer un nouveau compte utilisateur{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('teacher_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-align-justify"></i>									
            </span>
            <h5>Coordonnées</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.lastName, { 'label': 'Nom' }) }}
            {{ form_row(form.firstName, { 'label': 'Prénom' }) }}
            {{ form_row(form.phoneNumber, { 'label': 'Téléphone fixe' }) }}
            {{ form_row(form.cellphoneNumber, { 'label': 'Téléphone portable' }) }}
            {{ form_row(form.emailAddress, { 'label': 'Adresse email' }) }}
        </div>
    </div>   
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-align-justify"></i>									
            </span>
            <h5>Informations de connexion</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.isActive, { 'checked':'checked', 'label': 'Formateur en activité', 'hint':'Cochez la case si l\'utilisateur doit être actif' }) }}                
            {{ form_row(form.role, { 'label': 'Rôle' })  }}
            {{ form_row(form.username, { 'label': 'Nom d\'utilisateur' }) }}
            {{ form_row(form.password.first, { 'label': 'Mot de passe', 'hint':'Choisissez un mot de passe d\'au moins 8 caractères. Vous pouvez prendre une phrase, si cela est plus facile à retenir', 'attr': { 'data-indicator' : 'pwindicator' } }) }}
            {{ form_row(form.password.second, { 'label': 'Confirmez le mot de passe' }) }}
            {{ form_rest(form) }}
            <div class="form-actions">                                     
                <input class="btn" type="submit" value="Créer le compte" />
            </div>
        </div>
    </div>
</form>
{% endblock %}