{% extends '::base.html.twig' %}
{% block body %}
<h1>{{ entity.firstName }} {{ entity.lastName }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Actif</th>
            <td>{{ entity.isActive }}</td>
        </tr>
        <tr>
            <th>Téléphone fixe</th>
            <td>{{ entity.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Téléphone portable</th>
            <td>{{ entity.cellphoneNumber }}</td>
        </tr>
        <tr>
            <th>Adresse email</th>
            <td><a href="mailto:{{ entity.emailAddress }}"/>{{ entity.emailAddress }}</a></td>
        </tr>
        <tr>
            <th>Inscrit(e) le</th>
            <td>{{ entity.registrationDate|date('d/m/Y') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Retour à la liste des formateurs
        </a>
    </li>
    <li>
        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">
            Modifier la fiche
        </a>
    </li>
    <li>
        <form action="{{ path('teacher_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}