{% extends '::main_content.html.twig' %}
{% block content_title %}Fiche formateur{% endblock %}
{%block submenu %}
    {% if app.user.id == entity.id %}
        <a class="btn tip-bottom" href="{{ path('teacher_edit', { 'id': entity.id }) }}"> <i class="icon-user_edit"></i>Modifier le profil</a>
    {% endif %}
    <!--<form action="{{ path('teacher_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}-->
        <button  class="btn tip-bottom" type="submit"><i class="icon-user_delete"></i>Supprimer le profil</button>
    <!-</form>-->
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            <div class="row-fluid">
                <div class="span12">
                    <form class="form-horizontal">
                        <div class="widget-box">
                            <div class="widget-title">
                                    <span class="icon">
                                            <i class="icon-user"></i>
                                    </span>
                                    <h5>{{ entity.firstName }} {{ entity.lastName }}</h5>
                            </div>            
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    <label class="control-label">Rôle</label>
                                    <div class="controls">{{ entity.role.label }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Inscrit(e) le</label>
                                    <div class="controls">{{ entity.registrationDate|date('d/m/Y') }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Téléphone fixe</label>
                                    <div class="controls">{{ entity.phoneNumber }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Téléphone portable</label>
                                    <div class="controls">{{ entity.cellphoneNumber }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Adresse email</label>
                                    <div class="controls"><a href="mailto:{{ entity.emailAddress }}"/>{{ entity.emailAddress }}</a></div>
                                </div>
                             </div>
                        </div>
                        </form>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                                <span class="icon">
                                        <i class="icon-th-list"></i>
                                </span>
                                <h5>Cours dirigés</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                {% if teacherCourses is empty %}
                                    Aucun cours dirigé pour le moment.
                                {% else %}
                                    {% for course in teacherCourses %}
                                        <li>Niveau {{ course.classLevel }} le {{ course.dayOfWeek| day }} de {{ course.startTime|date('H:i') }} à {{ course.endTime|date('H:i') }} 
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span7">
           <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                    <i class="icon-th-list"></i>
                            </span>
                            <h5>Apprenants inscrit au(x) cours</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                            {% if teacherStudents is empty %}
                               Aucun apprenant inscrit pour le moment.
                            {% else %}
                            <div class="left_list">
                                <ul>
                                {% for student in teacherStudents %}
                                    <li class="user_{{ student['gender'] }}">
                                        <a href="{{ path('student_show', { 'id': student['id'] }) }}">{{ student['firstname']}} {{ student['lastname'] }}</a>
                                        {% if student['nb_comments'] > 0 %}
                                            <img src="{{ asset('img/icons/comment.png') }}" title="{{ student['nb_comments'] }} commentaire(s)" alt="{{ student['nb_comments'] }} commentaire(s)" />
                                        {% endif %}
                                    </li>
                                    {% if loop.index % teacherStudentsLineBreak == 0  and loop.index != loop.last %}
                                        </ul></div><div class="left_list"><ul>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                            {% endif %}                                                
                        <div class="clear_list"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                    <i class="icon-th-list"></i>
                            </span>
                            <h5>Compe-rendus de ce formateur</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                            {% if teacherClassSessions is empty %}
                                Aucun compte-rendu enregistré pour le moment.
                            {% else %}
                                {% for classSession in teacherClassSessions %}
                                    <li>
                                        <a href="{{ path('classsession_show', { 'id': classSession.id }) }}">{{ classSession.date | date("d/m/Y") }}</a>
                                        {% if classSession.nb_comments > 0 %}
                                            <img src="{{ asset('img/icons/comment.png') }}" title="{{ classSession.nb_comments }} commentaire(s)" alt="{{ classSession.nb_comments }} commentaire(s)" />
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}