{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type='text/javascript'>
            $(function(){
                    $('#delete-teacher').click(function(e){
                        e.preventDefault();
                        bootbox.dialog({
                            message: "Vous allez supprimer le profil de <b>{{ entity.firstName }} {{ entity.lastName }}</b>, êtes-vous sûr(e) ?",
                            title: "Suppression d'un profil utilisateur",
                            buttons: {
                                no: {
                                    label: "Non",
                                    className: "btn-default"
                                },
                                yes: {
                                    label: "Oui",
                                    className: "btn-danger",
                                    callback: function() {
                                        $("#delete-teacher-form").submit();
                                    }
                                }
                             }
                        });
                    });
                });
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Fiche formateur{% endblock %}
{%block submenu %}
    {% if is_granted('ROLE_SECRETARY') or entity.id == app.user.id %}
        <a class="btn tip-bottom" href="{{ path('teacher_edit', { 'id': entity.id }) }}"> <i class="my-icon-user_edit"></i>Modifier le profil</a>
    {% endif %}
    {% if is_granted('ROLE_SECRETARY') %}
        <a class="btn" href="#" id="delete-teacher"> <i class="my-icon-user_delete"></i>Supprimer la fiche</a>
        <form id="delete-teacher-form" action="{{ path('teacher_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}</form>
    {% endif %}
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Apprenants', 'students': teacherStudents, 'nbColumns': 1 }  %}
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal not-form-horizontal">
                        <div class="widget-box">
                            <div class="widget-title">
                                    <span class="icon">
                                            <i class="icon-user"></i>
                                    </span>
                                    <h5>{{ entity.firstName }} {{ entity.lastName }}</h5>
                            </div>            
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    <label class="control-label">Statut</label>
                                    <div class="controls">
                                        {% if entity.isActive %}
                                            <span class="label label-success">Formateur actif</span>
                                        {% else %}
                                            <span class="label label-danger">Formateur inactif</span>
                                        {% endif %}
                                        {% if entity.locked %}
                                            <span class="label label-inverse">Compte verrouillé</span>
                                        {% endif %}
                                        {% if entity.credentialsExpired %}
                                            <span class="label label-inverse">Identifiants de connexion expirés</span>
                                        {% endif %}
                                        {% if entity.expired %}
                                            <span class="label label-inverse">Compte expiré</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Rôle</label>
                                    <div class="controls">{{ entity.role.label }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Inscrit(e) le</label>
                                    <div class="controls">{{ entity.registrationDate|date('d/m/Y') }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Téléphone fixe</label>
                                    <div class="controls">{{ entity.phoneNumber|phoneNumber }}&nbsp;</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Téléphone portable</label>
                                    <div class="controls">{{ entity.cellphoneNumber|phoneNumber }}&nbsp;</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Adresse email</label>
                                    <div class="controls"><a href="mailto:{{ entity.email }}"/>{{ entity.email }}&nbsp;</a></div>
                                </div>
                             </div>
                        </div>
                        </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-box">
                        <div class="widget-title">
                                <span class="icon">
                                        <i class="icon-th-list"></i>
                                </span>
                                <h5>Cours dirigés</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="no-img">
                                {% if teacherCourses is empty %}
                                    <div class="none-found">Aucun cours dirigé pour le moment</div>
                                {% else %}
                                    {% for course in teacherCourses %}
                                        <li>Niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %}  le {{ course.dayOfWeek| day }} de {{ course.startTime|date('H:i') }} à {{ course.endTime|date('H:i') }} &nbsp; <a href="{{ path('course_show', { 'id': course.id }) }}">Voir ce cours</a> 
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% set listBreak = teacherClassSessions | length // 3 %}
                    {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Comptes-rendus de ce formateur', 'classSessions': teacherClassSessions, 'listBreak': listBreak }  %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}