{% extends '::main_content.html.twig' %}
{% block content_title %}Fiche formateur{% endblock %}
{%block submenu %}
    {% if app.user.id == entity.id %}
        <a class="btn tip-bottom" href="{{ path('teacher_edit', { 'id': entity.id }) }}"> <i class="icon-user_edit"></i>Modifier le profil</a>
    {% endif %}
    <!--<form action="{{ path('teacher_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}-->
        <button  class="btn tip-bottom" type="submit"><i class="icon-user_delete"></i>Supprimer le profil</button>
    <!-</form>-->
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            <div class="row-fluid">
                <div class="span12">
                    <form class="form-horizontal not-form-horizontal">
                        <div class="widget-box">
                            <div class="widget-title">
                                    <span class="icon">
                                            <i class="icon-user"></i>
                                    </span>
                                    <h5>{{ entity.firstName }} {{ entity.lastName }}</h5>
                            </div>            
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    <label class="control-label">Rôle</label>
                                    <div class="controls">{{ entity.role.label }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Inscrit(e) le</label>
                                    <div class="controls">{{ entity.registrationDate|date('d/m/Y') }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Téléphone fixe</label>
                                    <div class="controls">{{ entity.phoneNumber|phoneNumber }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Téléphone portable</label>
                                    <div class="controls">{{ entity.cellphoneNumber|phoneNumber }}</div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Adresse email</label>
                                    <div class="controls"><a href="mailto:{{ entity.emailAddress }}"/>{{ entity.emailAddress }}</a></div>
                                </div>
                             </div>
                        </div>
                        </form>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                                <span class="icon">
                                        <i class="icon-th-list"></i>
                                </span>
                                <h5>Cours dirigés</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                {% if teacherCourses is empty %}
                                    Aucun cours dirigé pour le moment.
                                {% else %}
                                    {% for course in teacherCourses %}
                                        <li><a href="{{ path('course_show', { 'id': course.id }) }}">Niveau {{ course.classLevel }} le {{ course.dayOfWeek| day }} de {{ course.startTime|date('H:i') }} à {{ course.endTime|date('H:i') }}</a> 
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span7">
           <div class="row-fluid">
                <div class="span12">
                   {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Apprenants inscrit au(x) cours', 'students': teacherStudents, 'listBreak': teacherStudentsLineBreak }  %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% set listBreak = teacherClassSessions | length // 3 %}
                    {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Compe-rendus de ce formateur', 'classSessions': teacherClassSessions, 'listBreak': listBreak }  %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}