{% include ':Form:form_hat.html.twig' with { 'form': form, 'form_title': 'Contenu du compte-rendu', 'icon': 'icon-align-justify' }  %}
<div class="widget-content nopadding">
    {{ form_row(form.course, { 'label': 'Cours concerné'}) }}
    {% if "hidden" in form.course.vars.block_prefixes %}
    <div class="control-group not-form-horizontal">
        <label class="control-label">Cours concerné</label>
        <div class="not-form-horizontal controls">
            niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': entity.course.classLevel.htmlColorCode, 'classLevelLabel': entity.course.classLevel.label } %}
            &nbsp;le {{ entity.course.dayOfWeek | day }} de {{ entity.course.startTime | date('H\\hi') }} à {{ entity.course.endTime | date('H\\hi') }}</div>
    </div>
    {% endif %}
    <div class="control-group not-form-horizontal">
        {% if entity.course.teachers.count > 1 %}
            {% set s = "s" %}
        {% else %}
            {% set s = "" %}
        {% endif %}
        <label class="control-label">Formateur{{ s }} habituel{{ s }}</label>
        <div class="not-form-horizontal controls">
            {% for teacher in entity.course.teachers %}
                <a title="" href="{{ path('teacher_show', { 'id': teacher.id }) }}">{{ teacher.firstname }} {{ teacher.lastname }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ form_row(form.sessionDate, { 'label': 'Date'}) }}
    {{ form_row(form.sessionTeacher, { 'label': 'Formateur ayant assuré le cours'}) }}
    {{ form_row(form.summary, { 'label': 'Résumé du cours', 'id' : 'summaryField', }) }}       
    {{ form_row(form.documents, { 'label': 'Document(s) utilisé(s)', 'hint': 'Lier ici les documents utilisés lors de votre cours, tels que des exercices, des corrigés, des passages de livres etc.' }) }}
    {% if form.classSessionStudents is defined %}
        {{ form_row(form.classSessionStudents, { 'label': 'Apprenants inscrits et présents', 'hint': 'N\'apparaissent ici que les apprenants inscrits à votre cours' }) }}           
    {% endif %}
    {{ form_row(form.nonEnrolledStudentsField, { 'required' : false, 'label': 'Apprenants non inscrits mais présents exceptionnellement', 'hint': 'Enregistrez ici la présence d\'aprenants non-inscrits et présents exceptionnellement. Si cela fait plusieurs fois que vous enregistrez un apprenant "exceptionnellement", peut-être est-il temps de l\'inscrire ?' }) }}           
    {{ form_rest(form) }}
    <script type="text/javascript">
      $('#summaryField').wysihtml5({
          locale: "fr-FR",      
          "image": false, //Button to insert an image. Default true,
      });
    </script>
