{% extends '::base.html.twig' %}
{% block body %}
<div id="results_actions">
    <h1>Liste des compte-rendus</h1>
    <div class="action_tab">
        <a class="add_entry" href="{{ path('classsession_new') }}">
            Enregistrer un compte-rendu
        </a>
    </div>
    <div class="action_tab">
        <a class="export_list" href="{{ path('classsession_new') }}">
            Exporter les données
        </a>
    </div>
    <span>Tous les apprenants inscrits à un cours de cette session</span>
</div>
<table class="records_list">
    <thead>
        <tr>
            <th>Date</th>
            <th>Compte-rendu</th>
            <th>Cours</th>
            <th>Conduit par</th>
            <th>Report rédigé par</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td><a href="{{ path('classsession_show', { 'id': entity.id }) }}">Voir</a></td>
            <td>{{ entity.course.dayOfWeek }}</td>
            <td>{{ entity.sessionTeacher.firstName }} {{ entity.sessionTeacher.lastName }}</td>
            <td>{{ entity.reportTeacher.firstName }} {{ entity.reportTeacher.lastName }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('classsession_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('classsession_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {% include '::pager_footer.html.twig' with { nb_columns: 6 } %}
</table>
{% endblock %}