{% extends '::main_content.html.twig' %}
{% block content_title %}Flux RSS disponibles{% endblock %}
 {%block submenu %}
    <a class="btn" href="{{ path('classsession_index') }}"> <i class="my-icon-list"></i>Retour à la liste des comptes-rendus</a>
    <a class="btn" href="#"> <i class="my-icon-search-classsession"></i>Rechercher dans les compte-rendus</a>
    <a class="btn" href="{{ path('classsession_new') }}"> <i class="my-icon-add"></i>Nouveau compte-rendu</a>
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-12 center">
        <div class="alert alert-info">
        Ces flux RSS vous permettront d'être prévenu automatiquement lors de l'ajout d'un nouveau compte-rendu. 
        Vous trouverez plus d'informations sur les flux RSS ainsi que sur les logiciels à utiliser sur Wikipédia: <a href="http://fr.wikipedia.org/wiki/RSS">http://fr.wikipedia.org/wiki/RSS</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Contenu du flux</th>
                    <th>Url du flux</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">Tous les niveaux</td>
                    <td><a href="{{ url('classsession_rss_feed_all') }}">{{ url('classsession_rss_feed_all') }}</a></td>
                </tr>
            {% for classLevel in classLevels %}
                <tr>
                    <td class="center">{% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classLevel.htmlColorCode, 'classLevelLabel': classLevel.label } %}</td>
                    <td><a href="{{ url('classsession_rss_feed_classlevel', { 'id': classLevel.id }) }}">{{ url('classsession_rss_feed_classlevel', { 'id': classLevel.id }) }}</a></td>            
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div>
</div>
{% endblock %}