{% extends '::main_content.html.twig' %}
{% block content_title %}Tous les comptes-rendus{% endblock %}
 {%block submenu %}
    <a class="btn tip-bottom" href="{{ path('classsession_new') }}"> <i class="icon-add"></i>Nouveau compte-rendu</a>
{% endblock %}
{% block main_content %}
<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Tous les comptes-rendus</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Niveau</th>
                    <th>Cours</th>
                    <th>Dirigé par</th>
                    <th>Saisi par</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{% if entity['date'] %}{{ entity['date'] | date('d/m/Y') }} {% endif %}</td>
                    <td>
                    <td>le {{ entity['course_dayOfWeek'] | day }} de {{ entity['course_startTime'] | date('H:i') }} à {{ entity['course_endTime']| date('H:i') }}</td>
                    <td>{{ entity['sessionTeacher_firstName'] }} {{ entity['sessionTeacher_lastName'] }}</td>
                    <td>
                        <a href="{{ path('classsession_show', { 'id': entity['id'] }) }}">Voir le détail</a>&nbsp;
                        <a href="{{ path('classsession_edit', { 'id': entity['id'] }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}