<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Comptes rendus</title>
        <description>Derniers comptes rendus</description>
        <link>{{ path('welcome') }}</link>

        {% for classSession in classSessions %}
        <item>
            <title>{{ classSession['classLevelLabel'] }} {{ classSession['course_dayOfWeek'] | day }} de {{ classSession['course_startTime'] | date('H:i') }} à {{ classSession['course_endTime'] | date('H:i') }} : session du     {{ classSession['sessionDate'] | date('d/m/Y') }}</title>
            <description>
            {{ classSession.summary }}
            </description>
            <link>{{ path('classsession_show', { 'id': classSession['id'] }) }}</link>
            <pubDate>{{ classSession.reportDate | date('r') }}</pubDate>
        </item>
        {% endfor %}
    </channel>
</rss>
