<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
                <i class="icon-th-list"></i>
        </span>
        <h5>{{ title }}</h5>
        <span title="{{ classSessions | length }} compte-rendus" class="label label-info tip-left">{{ classSessions | length }}</span>
    </div>
    <div class="widget-content">
            {% if classSessions is empty %}
                Aucun compte-rendu enregistré pour le moment.
            {% else %}
                {% if nbColumns is not defined %}
                    {% set nbColumns = 3 %}
                {% endif %}
                {% set listBreak = (classSessions | length) // nbColumns %}
                {% if ((classSessions | length) % nbColumns) != 0 %}{% set listBreak = listBreak + 1 %}{% endif %}
                {% if ((classSessions | length) // nbColumns) < 0 %}{% set listBreak = 1 %}{% endif %}
                {% set span_size = 12 /  nbColumns %}
                <div class="span{{ span_size }}">
                    <ul class="no-img">
                    {% for classSession in classSessions %}
                        <li>
                            {% if classSession.classLevelHtmlColorCode is defined %}
                                {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classSession.classLevelHtmlColorCode, 'classLevelLabel': classSession.classLevelLabel } %} 
                            {% endif %}
                            <a href="{{ path('classsession_show', { 'id': classSession.id }) }}">{{ classSession.sessionDate | date("d/m/Y") }}</a>
                            {% if classSession.nb_comments > 0 %}
                                <img src="{{ asset('img/icons/comment.png') }}" title="{{ classSession.nb_comments }} commentaire(s)" alt="{{ classSession.nb_comments }} commentaire(s)" />
                            {% endif %}
                        </li>
                        {% if loop.index % listBreak == 0  and loop.index != loop.last %}
                            </ul></div><div class="span{{ span_size }}"><ul class="no-img">
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>          
            {% endif %} 
        <div class="clear_list"></div>
        {% if displayAllClassSessionsButton is defined and displayAllClassSessionsButton == true %}                
            <ul class="recent-posts">
                <li class="viewall">
                    <a href="{{ path('classsession_index') }}" class="tip-top" title=""> + Voir tous les compte-rendus + </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>