{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap-wysihtml5-0.0.2.css') }}" media="screen" rel="stylesheet"/>
        <style type="text/css" media="screen">
        #summaryField {
            height: 300px;
        }
        </style>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/wysihtml5-0.3.0_rc2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-wysihtml5-0.0.2.min.js') }}"></script>
    {% endblock %}
{% endblock %}
{% block content_title %}Ajouter un compte-rendu{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('classsession_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate="novalidate" >
            <!--
        <div class="alert alert-error alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Erreur dans la saisie</h4>
        {{ form_errors(form) }}
    </div>-->
    <div class="widget-box">
        <div class="widget-title">
                <span class="icon">
                        <i class="icon-align-justify"></i>									
                </span>
                <h5>Contenu du compte-rendu</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.course, { 'label': 'Cours concerné'}) }}
            {% if "hidden" in form.course.vars.block_prefixes %}
            <div class="control-group not-form-horizontal">
                <label class="control-label">Cours concerné</label>
                <div class="not-form-horizontal controls">
                    niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %}
                    &nbsp;le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H\\hi') }} à {{ course.endTime | date('H\\hi') }}</div>
            </div>
            {% endif %}
            {{ form_row(form.sessionDate, { 'label': 'Date'}) }}
            {{ form_row(form.sessionTeacher, { 'label': 'Formateur'}) }}
            {{ form_row(form.summary, { 'label': 'Résumé du cours', 'id' : 'summaryField' }) }}       
            {% if form.classSessionStudents is defined %}
                {{ form_row(form.classSessionStudents, { 'label': 'Apprenants présents', 'hint': 'N\'apparaissent ici que les apprenants inscrits à votre cours' }) }}           
            {% endif %}
            {{ form_rest(form) }}
            <div class="form-actions">                                     
                <input class="btn btn-success" type="submit" value="Enregistrer le compte-rendu" />
            </div>
        </div>
    </div>        
</form>
<script type="text/javascript" src="{{ asset('js/bootstrap-wysihtml5.fr-FR.js') }}"></script>
<script type="text/javascript">
  $('#summaryField').wysihtml5({locale: 'fr-FR'});
</script>
{% endblock %}