{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap-wysihtml5-0.0.2.css') }}" media="screen" rel="stylesheet"/>
        <style type="text/css" media="screen">
        #summaryField {
            height: 300px;
        }
        </style>
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/wysihtml5-0.3.0_rc2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-wysihtml5-0.0.2.min.js') }}"></script>
    {% endblock %}
{% endblock %}
{% block content_title %}Ajouter un compte-rendu{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('classsession_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            <!--
        <div class="alert alert-error alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Erreur dans la saisie</h4>
        {{ form_errors(form) }}
    </div>-->
    <div class="widget-box">
        <div class="widget-title">
                <span class="icon">
                        <i class="icon-align-justify"></i>									
                </span>
                <h5>Cours: {{ entity.course }}</h5>
        </div>
        <div class="widget-content nopadding"> 
            {{ form_row(form.sessionDate, { 'label': 'Date'}) }}
            {{ form_row(form.sessionTeacher, { 'label': 'Formateur'}) }}
            {{ form_row(form.summary, { 'label': 'Résumé du cours', 'id' : 'summaryField' }) }}                
            {{ form_row(form.classSessionStudents, { 'label': 'Apprenants présents' }) }}           
            {{ form_rest(form) }}
            <div class="form-actions">                                     
                <input class="btn btn-success" type="submit" value="Enregistrer le compte-rendu" />
            </div>
        </div>
    </div>        
</form>
<script type="text/javascript" src="{{ asset('js/bootstrap-wysihtml5.fr-FR.js') }}"></script>
<script type="text/javascript">
  $('#summaryField').wysihtml5({locale: 'fr-FR'});
</script>
{% endblock %}