{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type='text/javascript'>
            $(function(){
                    $('#delete-class-report').click(function(e){
                        e.preventDefault();
                        bootbox.dialog({
                            message: "Vous allez supprimer le compte-rendu n°{{ entity.id }} du {{ entity.sessionDate | date('d/m/Y') }}, êtes-vous sûr(e) ?",
                            title: "Suppression d'un compte-rendu",
                            buttons: {
                                no: {
                                    label: "Non",
                                    className: "btn-default"
                                },
                                yes: {
                                    label: "Oui",
                                    className: "btn-danger",
                                    callback: function() {
                                        $("#delete-classsession-form").submit();
                                    }
                                }
                             }
                        });
                    });
                });
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Compte-rendu de cours{% endblock %}
{%block submenu %}
    {% if app.user.id == entity.reportTeacher.id or app.user.id == entity.sessionTeacher.id %}
        <a class="btn tip-bottom" href="{{ path('classsession_edit', { 'id': entity.id }) }}"> <i class="my-icon-user_edit"></i>Modifier le compte-rendu</a>
        <a class="btn" href="#" id="delete-class-report"> <i class="my-icon-user_delete"></i>Supprimer le compte-rendu</a>
    <form id="delete-classsession-form" action="{{ path('classsession_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}</form>
    {% endif %}   
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-6 form-horizontal not-form-horizontal">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                            <i class="icon-align-justify"></i>
                    </span>
                </div>            
                <div class="widget-content nopadding">
                    <div class="control-group">
                        <label class="control-label">Cours </label>
                        <div class="controls">
                            <a href="{{ path('course_show', { 'id': entity.course.id }) }}">niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': entity.course.classLevel.htmlColorCode, 'classLevelLabel': entity.course.classLevel.label } %}
                            &nbsp;le {{ entity.course.dayOfWeek | day }} de {{ entity.course.startTime | date('H\\hi') }} à {{ entity.course.endTime | date('H\\hi') }}</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cours du</label>
                        <div class="controls">{{ entity.sessionDate | date('d/m/Y') }}&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Dirigé par</label>
                        <div class="controls"><a href="{{ path('teacher_show', { 'id': entity.sessionTeacher.id }) }}">{{ entity.sessionTeacher.firstName }} {{ entity.sessionTeacher.lastName }}</a>&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Compte-rendu saisi par</label>
                        <div class="controls"><a href="{{ path('teacher_show', { 'id': entity.reportTeacher.id }) }}">{{ entity.reportTeacher.firstName }} {{ entity.reportTeacher.lastName }}</a> le {{ entity.reportDate | date('d/m/Y') }}&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <div>
                            <div class="text-block">
                                {{ entity.summary|raw }}&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Document associés</label>
                        <div class="controls">
                            {% if entity.documents|length > 0 %}
                                <ul>                                
                                {% for document in entity.documents %}
                                    <li class="document"><a href="{{ path('document_download', { 'id': document.id }) }}">{{ document.fileName }}</a></li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                Aucun document associé à ce compte-rendu
                            {% endif %}                                        
                        </div>
                    </div>
                </div>     
            </div>      
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                            <i class="icon-comments"></i>
                    </span>
                    <h5>Commentaires</h5>
                </div>
                {% include 'VirguleMainBundle:Comment:index.html.twig' with {'comments': entity.comments, 'commentForm': commentForm, 'target_id': entity.id, 'target_route': 'classsession_comment_create' }  %}
            </div>
        </div>                           
        <div class="col-md-12 col-lg-6">
            {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Apprenants inscrits présents', 'students': classSessionEnrolledStudents, 'nbColumns': 1 }  %}
            {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Apprenants non-inscrits présents', 'students': classSessionNonEnrolledStudents, 'nbColumns': 1 }  %}
        </div>
    </div>
</div>                 
{% endblock %}