{% extends '::base.html.twig' %}
{% block body %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ entity.summary }}</td>
        </tr>
        <tr>
            <th>Fkclassid</th>
            <td>{{ entity.course }}</td>
        </tr>
        <tr>
            <th>Fksessionteacherid</th>
            <td>{{ entity.sessionTeacher.firstName }} {{ entity.sessionTeacher.lastName }}</td>
        </tr>
        <tr>
            <th>Fksummaryteacherid</th>
            <td>{{ entity.reportTeacher.firstName }} {{ entity.reportTeacher.lastName }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('classsession_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classsession_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('classsession_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}