{% extends '::base.html.twig' %}
{% block body %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ entity.summary|raw }}</td>
        </tr>
        <tr>
            <th>Course</th>
            <td>{{ entity.course }}</td>
        </tr>
        <tr>
            <th>Session dirigée par</th>
            <td>{{ entity.sessionTeacher.firstName }} {{ entity.sessionTeacher.lastName }}</td>
        </tr>
        {% if entity.sessionTeacher.id != entity.reportTeacher.id %}
        <tr>
            <th>Compte-rendu saisi par</th>
            <td>{{ entity.reportTeacher.firstName }} {{ entity.reportTeacher.lastName }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Commentaires</th>
            <td>
                <ul>
                {% for comment in entity.comments %}
                        <li>
                            le  {{ comment.date|date("d/m/Y") }} par <a href="{{ path('teacher_show', { 'id': comment.teacher.id }) }}">{{ comment.teacher.firstName }}  {{ comment.teacher.lastName }}</a>: <br />
                    {{ comment.comment|raw }}
                        </li>
                {% endfor %}
                    </ul>
                </td>
            </tr>        
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('classsession_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classsession_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('classsession_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}