<h1>ClassSession</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ entity.summary }}</td>
        </tr>
        <tr>
            <th>Fkclassid</th>
            <td>{{ entity.fkClassId }}</td>
        </tr>
        <tr>
            <th>Fksessionteacherid</th>
            <td>{{ entity.fkSessionTeacherId }}</td>
        </tr>
        <tr>
            <th>Fksummaryteacherid</th>
            <td>{{ entity.fkSummaryTeacherId }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('classsession') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('classsession_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('classsession_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
