<table class="table table-bordered table-striped table-hover data-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Niveau</th>
            <th>Cours</th>
            <th>Apprenants présents</th>
            <th>Dirigé par</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for classSession in classSessions %}
        <tr>
            <td class="center" data-order="{{ classSession['sessionDate'] | date('Ymd') }}">{% if classSession['sessionDate'] %}{{ classSession['sessionDate'] | date('d/m/Y') }} {% endif %}</td>
            <td class="center">
                {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classSession['classLevelHtmlColorCode'], 'classLevelLabel': classSession['classLevelLabel'] } %} 
            </td>
            <td>{{ classSession['course_dayOfWeek'] | day }} de {{ classSession['course_startTime'] | date('H:i') }} à {{ classSession['course_endTime'] | date('H:i') }}</td>
            <td class="center">{{ classSession['nb_students'] }}</td>
            <td>{{ classSession['sessionTeacher_firstName'] }} {{ classSession['sessionTeacher_lastName'] }}</td>
            <td class="entity_actions">
                <a href="{{ path('classsession_show', { 'id': classSession['id'] }) }}"><button class="btn btn-default btn-xs"><i class="icon-eye-open"></i> Voir</button></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>