{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>        
        
        google.load('visualization', '1', {'packages': ['geochart', 'corechart']}); 
        
        $(document).ready(function () {   
            drawGenderChart();
            drawAgeChart();
            drawClassLevelsCharts();
            $(window).resize(function(){
                drawGenderChart();
                drawAgeChart();
                drawClassLevelsCharts();
                drawRegionsMap();
            });
            
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                drawGenderChart();
                drawAgeChart();
                drawClassLevelsCharts();
                drawRegionsMap();
            })
        });
        var bgColor = '#FAFAFA';

        function drawRegionsMap() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'country-code');
            data.addColumn('number', 'Apprenants');
            data.addColumn('string', 'country_label');
            {% for country_code, nb_students in students_countries %}
                data.addRow(['{{ country_code }}', {{ nb_students }}, '{{ country_code | upper | country }}']);
            {% endfor %}

            var options = {
                backgroundColor: bgColor, 
                title: 'Répartition par pays d\'origine'
            };

            var geochart = new google.visualization.GeoChart(document.getElementById('worldmap_div'));
            var formatter = new google.visualization.PatternFormat('{1}');  
            formatter.format(data, [0, 2]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1]);  

            geochart.draw(view, options);
        };

          function drawGenderChart() {
            var data = google.visualization.arrayToDataTable([
              ['Sexe', 'Apprenants'],
              {% for gender_code, nb_students in students_genders %}
                [{% if gender_code == 'F' %} 'Femmes', {% else %} 'Hommes', {% endif %} {{ nb_students }}]{% if loop.index != loop.last %},{% endif %}          
              {% endfor %}
            ]);

            var options = {
              title: 'Répartition par sexe',
              colors:['#E06F8A','#5EB1FE'],
              backgroundColor: bgColor
            };

            var chart = new google.visualization.PieChart(document.getElementById('gender_div'));
            chart.draw(data, options);
          };

          function drawAgeChart() {
            var data = google.visualization.arrayToDataTable([
              ['Tranche d\'âge', 'Nombre d\'apprenants'],
              {% for age_range, nb_students in students_ages %}
                {% if nb_students > 0 %}
                    ['{{ age_range }} ans', {{ nb_students }}]{% if loop.index != loop.last %},{% endif %}          
                {% endif %}
              {% endfor %}
            ]);

            var options = {
              title: 'Répartition par tranche d\'âge',
              backgroundColor: bgColor,
            };

            var chart = new google.visualization.PieChart(document.getElementById('ages_div'));
            chart.draw(data, options);
          };
          
          function drawClassLevelsCharts() {
            var data = google.visualization.arrayToDataTable([
              ['Niveau', 'Nombre d\'apprenants'],
              {% for classLevel in nbStudentsPerClassLevel %}
                ['{{ classLevel['classLevel_label'] }}', {{ classLevel['nb_students'] }}]{% if loop.index != loop.last %},{% endif %}          
              {% endfor %}
            ]);

            var options = {
              title: 'Répartition par niveau',              
              colors:[
                {% for classLevel in nbStudentsPerClassLevel %}
                  '{{ classLevel['classLevel_color'] }}'{% if loop.index != loop.last %},{% endif %}         
                {% endfor %}],
                backgroundColor: bgColor,
            };

            var chart = new google.visualization.PieChart(document.getElementById('classlevels_div'));
            chart.draw(data, options);
          };
        </script>
    {% endblock %}
{% endblock %}
{% set currentSemester = app.session.get('currentSemester') %}
{% block content_title %}Session du 
<b>{{ currentSemester.startDate | date("j") }}{% if currentSemester.startDate | date("j")  == 1 %}<sup>er</sup>{% endif %}&nbsp;{{ currentSemester.startDate | date("n") | month }}&nbsp;{{ currentSemester.startDate | date("Y") }}</b>
au 
<b>{{ currentSemester.endDate | date("j") }}{% if currentSemester.endDate | date("j")  == 1 %}<sup>er</sup>{% endif %}&nbsp;{{ currentSemester.endDate | date("n") | month }}&nbsp;{{ currentSemester.endDate | date("Y") }}</b>
{% endblock %}
{%block submenu %}
    <!--<a class="btn tip-bottom" href="{{ path('classsession_new') }}"> <i class="my-icon-export"></i>Exporter les données</a>-->
{% endblock %}
{% block main_content %}
<div id="results_actions">
    <div class="row">
        <div class="widget-box widget-plain">
            <div class="widget-content center">
                <ul class="stats-plain">
                    <li>										
                        <h4>{{ students_genders['F'] }}</h4>
                        <span>femmes</span>
                    </li>
                    <li>										
                        <h4>{{ students_genders['M'] }}</h4>
                        <span>hommes</span>
                    </li>
                    <li>										
                        <h4>{{ students_countries | length }}</h4>
                        <span>pays d'origine</span>
                    </li>
                    <li>										
                        <h4>{{ languages | length }}</h4>
                        <span>langues parlées</span>
                    </li>
                    <li>										
                        <h4>{{ studentsWithManyEnrollments | length }}</h4>
                        <span>inscrits à plus d'un cours</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="widget-box">
                <div class="widget-title">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#ranges_div" id="ranges_tab"><i class="icon-signal"></i> Statistiques</a></li>
                        <li><a data-toggle="tab" href="#worldmap_div"><i class="icon-globe"></i> Carte du monde</a></li>
                        <li><a data-toggle="tab" href="#worldlist_div"><i class="icon-flag-checkered"></i> Pays d'origine</a></li>
                        <li><a data-toggle="tab" href="#languages_div"><i class="icon-comments"></i> Langues parlées</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content">
                    <div id="ranges_div" class="tab-pane active" style="height: 1000px;">
                        <div class="row-fluid">
                            <div class="col-md-4">
                                <ul class="site-stats">
                                    <li><div class="cc"><i class="icon-user"></i> <strong>{{ nbActiveTeachers['nb_teachers'] }}</strong><small>Formateurs actifs</small></div></li>
                                    <li><div class="cc"><i class="icon-bullhorn"></i> <strong>16</strong> <small>Cours</small></div></li>
                                    <li><div class="cc"><i class="icon-book"></i> <strong>16</strong> <small>Compte-rendus</small></div></li>
                                    <li class="divider"></li>   
                                    <li><div class="cc"><i class="icon-group"></i> <strong>{{ students_genders['F'] + students_genders['M'] }}</strong> <small>Apprenants</small></div></li>
                                    <li><div class="cc"><i class="icon-female"></i> <strong>{{ students_genders['F'] }}</strong> <small>Femmes</small></div></li>
                                    <li><div class="cc"><i class="icon-male"></i> <strong>{{ students_genders['M'] }}</strong> <small>Hommes</small></div></li>
                                    <li><div class="cc"><i class="icon-group"></i> <strong>11</strong> <small>Nouveaux inscrits</small></div></li>
                                    <li><div class="cc"><i class="icon-group"></i> <strong>11</strong> <small>Inscrits à 2 cours</small></div></li>
                                    <li><div class="cc"><i class="icon-group"></i> <strong>11</strong> <small>Inscrits à 3 cours et plus</small></div></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div id="gender_div" style="width:100%; height: 300px;"></div>
                                <div id="ages_div" style="width:100%; height: 300px;"></div>
                                <div id="classlevels_div" style="width:100%; height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div id="worldmap_div" class="tab-pane" style="width:100%; height: 1000px"></div>
                    <div id="worldlist_div" class="tab-pane">                       
                        <div class="row">
                            {% set nbColumns = 3 %}
                            {% set listBreak = (students_countries | length) // nbColumns %}
                            {% if ((students_countries | length) // nbColumns) > 0 %}{% set listBreak = listBreak + 1 %}{% endif %}
                            {% set span_size = 12 / nbColumns %}
                            <div class="col-md-{{ span_size }}">
                                <ul class="no-img">
                                {% for country_code, nb_students in students_countries %}
                                    <li><img src="{{ asset('img/drapeaux/' ~ country_code ~ '.png')}}" alt="{{  country_code }}" title="{{  country_code | upper | country('fr') }}" />
                                    &nbsp;
                                    {{ country_code | upper | country }}:  {{ nb_students }}</li>
                                    {% if loop.index % listBreak == 0  and loop.index != loop.last %}
                                        </ul></div><div class="col-md-{{ span_size }}"><ul class="no-img">
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div> 
                        </div>
                    </div> 
                    <div id="languages_div" class="tab-pane">
                        <div class="row">
                            <div class="widget-content nopadding">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Langue</th>
                                            <th>Nombre d'apprenants</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for language in languages %}
                                        <tr>
                                            <td>{{ language['language_name'] }}</td>
                                            <td>{{ language['nb_students'] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                            
            </div>
        </div>
    </div> 
</div>
{% endblock %}