{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        {% include 'VirguleMainBundle:Teacher:form_header.html.twig' %}
    {% endblock %}
{%endblock %}
{% block content_title %}Changer votre mot de passe{% endblock %}
{%block submenu %}
    <a class="btn" href="{{ path('teacher_show', { 'id': app.user.id }) }}"> <i class="my-icon-user_show"></i>Retour à la fiche</a>
{% endblock %}
{% block main_content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    <div class="row">
        <div class="col-md-12 center">
            <div class="widget-box">
                    {% include ':Form:form_hat.html.twig' with { 'form': form, 'form_title': 'Mise à jour du mot de passe' }  %}
                    <div class="widget-content nopadding">
                        {{ form_row(form.current_password, { 'label': 'Mot de passe actuel' }) }}
                        {{ form_row(form.plainPassword.first, { 'label': 'Nouveau mot de passe', 'hint':'Choisissez un mot de passe d\'au moins 8 caractères. Vous pouvez prendre une phrase, si cela est plus facile à retenir', 'id': 'password' }) }}
                        {{ form_row(form.plainPassword.second, { 'label': 'Confirmez le nouveau mot de passe', 'id': 'password_confirm' }) }}
                    </div>
                        {{ form_widget(form._token) }}
                    <div class="form-actions">                                     
                        <input class="btn btn-success" type="submit" value="Mettre à jour le mot de passe" />
                        <a class="btn btn-default" href="{{ path('teacher_show', { 'id': app.user.id }) }}">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
    
    