                <div class="widget-title">
                    <span class="icon">
                            <i class="icon-plus"></i>									
                    </span>
                </div>
                <div class="widget-content nopadding">
                    {{ form_errors(form) }}
                    {{ form_row(form.dayOfWeek, { 'label': 'Chaque' }) }}
                    {{ form_row(form.startTime, { 'label': 'De' }) }}
                    {{ form_row(form.endTime, { 'label': 'à' }) }}
                    {{ form_row(form.classRoom, { 'label': 'Salle' }) }}
                    {{ form_row(form.alternateStartdate, { 'label': 'Date de début alternative' }) }}
                    {{ form_row(form.alternateEnddate, { 'label': 'Date de fin alternative' }) }}
                    {{ form_row(form.classLevel, { 'label': 'Niveau' }) }}
                    {{ form_row(form.teachers, { 'label': 'Formateur(s)' }) }}
                    {{ form_rest(form) }}
