{% extends '::base.html.twig' %}
{% block body %}
<div id="results_actions">
    <h1>Liste des utilisateurs</h1>
    <div class="action_tab">
        <a class="add_entry" href="{{ path('course_new') }}">
            Ajouter un cours
        </a>
    </div>
    <span>Tous les cours de cette session</span>
</div>
<table class="records_list">
    <thead>
        <tr>
            <th>Jour</th>
            <th>Horaires</th>
            <th>Niveau</th>
            <th>Formateur</th>
            <th>Salle</th>
            <th>Etudiants inscrits</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity['dayOfWeek'] | day }}</td>
            <td>{{ entity['startTime'] | date('H:i') }} - {{ entity['endTime'] | date('H:i') }}</td>
            <td>{{ entity['classlevel'] }}</td>
            <td>
                <ul>
                {% for teacher in teachers_array[entity['course_id']] %}
                    <li><a href="{{ path('teacher_show', { 'id': teacher['teacher_id'] }) }}">{{ teacher['teacher_firstName'] }} {{ teacher['teacher_lastName'] }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ entity['classroom'] }}</td> 
            <td>{{ entity['nb_students'] }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('course_show', { 'id': entity['course_id'] }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('course_edit', { 'id': entity['course_id'] }) }}">edit</a>
                    </li>                    
                    <li>
                        <a href="{{ path('classsession_add', { 'course_id': entity['course_id'] }) }}">Enregistrer un compte-rendu</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% include '::pager_footer.html.twig' with { nb_columns: 7 } %}
</table>
{% endblock %}