{% extends '::base.html.twig' %}
{% block body %}
<h1>Liste des cours</h1>
<div id="results_actions">
    <div class="action_tab">
        <a class="add_entry" href="{{ path('course_new') }}">
            Ajouter un cours
        </a>
    </div>
</div>
<table class="records_list">
    <thead>
        <tr>
            <th>Jour</th>
            <th>Horaires</th>
            <th>Niveau</th>
            <th>Formateur</th>
            <th>Salle</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.dayOfWeek | day }}</td>
            <td>{{ entity.startTime|date('H:i') }} - {{ entity.endTime|date('H:i') }}</td>
            <td>{{ entity.classLevel }}</td>
            <td>
                <ul>
                {% for teacher in entity.teachers %}
                    <li><a href="{{ path('teacher_show', { 'id': teacher.id }) }}">{{ teacher }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ entity.classRoom.name }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                    </li>                    
                    <li>
                        <a href="{{ path('classsession_add', { 'course_id': entity.id }) }}">Enregistrer un compte-rendu</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {% include '::pager_footer.html.twig' with { nb_columns: 9 } %}
</table>
{% endblock %}