{% extends '::base.html.twig' %}
{% block body %}
<h1>Liste des cours</h1>
<div id="results_actions">
    <div class="action_tab">
        <a class="add_entry" href="{{ path('course_new') }}">
            Ajouter un cours
        </a>
    </div>
</div>
<table class="records_list">
    <thead>
        <tr>
            <th>Jour</th>
            <th>Horaires</th>
            <th>Alternatestartdate</th>
            <th>Alternateenddate</th>
            <th>Niveau</th>
            <th>Formateur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.dayOfWeek }}</td>
            <td>{{ entity.startTime|date('H:i') }} - {{ entity.endTime|date('H:i') }}</td>
            <td>{% if entity.alternateStartdate %}{{ entity.alternateStartdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.alternateEnddate %}{{ entity.alternateEnddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.classLevel }}</td>
            <td><a href="{{ path('teacher_show', { 'id': entity.teacher.id }) }}">{{ entity.teacher }}</a></td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}