{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type="text/javascript">
        var fadeTime = 500;
                
        function displayNbEnrolledStudents() {            
            var nbEnrolledStudent = Routing.generate('course_get_nb_enrolledStudents', { 'courseId': {{ course.id }} });
            $.get(nbEnrolledStudent, function(data) {
                $.each(data, function(i, course) {
                    var nbStudents = course.nb_students;
                    $("#nbEnrolledStudents").fadeOut(function() {
                        $(this).text(nbStudents);
                    }).fadeIn();
                });
            });
        }
        function toggleButton(idToHide, idToShow, index) {
            if ($(idToHide + '-' + index).length > 0) {
                $(idToHide + '-' + index).fadeOut(fadeTime, function(){
                    $(idToShow + '-' + index).fadeIn(fadeTime);
                });
            }
        }
        
        // This function is because the fadeIn callback in toggleButton would always use the last value of i
        function toggleButtons(idToHide, idToShow) {
            var i = 0;
            while ( i <= {{ previousCourses|length }} ) {
                toggleButton(idToHide, idToShow, i);
                i++;
            }
        }
        
        function enrollAll(ids, courseId, enroll) {
            if (enroll) {
                $.each(ids, function(index, studentId) {
                    enrollStudent(courseId, studentId, false);
                });
            } else {
                $.each(ids, function(index, studentId) {
                    unenrollStudent(courseId, studentId, false);
                });
            }
            displayNbEnrolledStudents();
        }
        
        function enrollStudent(courseId, studentId, directCall) {
            var studentEnrollUrl = Routing.generate('course_enroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentEnrollUrl, function(data) {
                var id = 'enroll-c' + courseId + '-s' + studentId; 
                toggleButtons('#' + id, '#un' + id);
                if (directCall) {
                    displayNbEnrolledStudents();
                }
            });
        }
        
        function unenrollStudent(courseId, studentId, directCall) {
            var studentUnenrollUrl = Routing.generate('course_unenroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentUnenrollUrl, function(data) {
                var id = 'enroll-c' + courseId + '-s' + studentId; 
                toggleButtons('#un' + id, '#' + id);          
                if (directCall) {
                    displayNbEnrolledStudents();
                }
            });  
        }
        
        function searchStudent(studentName) {            
            $("#studentsList").empty();
            if (studentName === "") {                
                $('#nbStudents').text('');
                return;
            }
            $('#loadingIcon').toggleClass('icons-search').toggleClass('icon-refresh').toggleClass('icon-spin');
            var studentSearchUrl = Routing.generate('student_search_name', { 'name': studentName });
            var imgPath = '{{ asset('img') }}';
            $.get(studentSearchUrl, function(data) {
                students = data;
                $('#nbStudents').text(data.length);
                if (data.length === 0) {
                    $("#studentsList").append('\
                        <tr><td class="center" colspan="4">Aucun apprenant trouvé.</td>');
                } else {
                    $.each(data, function(i, student) {
                        var studentLastName = student.lastname;
                        var studentFirstName = student.firstname;
                        var studentId = student.id;
                        var studentGender = student.gender;
                        var studentNativeCountryCode = student.nativeCountryCode;
                        var studentNativeCountryName = student.nativeCountryName;

                        var genderIcon = '/icons/user.png';
                        if (studentGender === 'F') {
                            genderIcon = '/icons/user_female.png';
                        }
                        $("#studentsList").append('\
                            <tr>\
                                <td class="center"><img src="' + imgPath  + genderIcon + '" /></td>\
                                <td class="center"><img src="' + imgPath + '/drapeaux/' + studentNativeCountryCode.toLowerCase() + '.png" alt="' + studentNativeCountryName + '" title="' + studentNativeCountryName + '" /></td>\
                                <td><strong>' + studentFirstName + ' ' + studentLastName + '</strong></td>\
                                <td>\
                                    <a id="enroll-c{{ course.id }}-s' + studentId + '-0" class="btn btn-success btn-xs" onClick="enrollStudent({{ course.id }}, ' + studentId + ', true);">Inscrire</a>\
                                    <a id="unenroll-c{{ course.id }}-s' + studentId + '-0" class="btn btn-danger btn-xs" onClick="unenrollStudent({{ course.id }}, ' + studentId + ', true);">Désinscrire</a>\
                                </td>\
                            </tr>');

                        $('#unenroll-c{{ course.id }}-s' + studentId + '-0').hide();
                        $.each(student.courses, function(j, course) {
                            if (course.id === {{ course.id }}) {
                                $('#enroll-c{{ course.id }}-s' + studentId + '-0').hide();
                                $('#unenroll-c{{ course.id }}-s' + studentId + '-0').show();
                            }
                        });
                    });
                }
                $('#loadingIcon').toggleClass('icons-search').toggleClass('icon-refresh').toggleClass('icon-spin');
                $("html").getNiceScroll().resize();
            });
        }

        $(document).ready(function () {
            var timer;
            $('#searchStudentName').keyup(function() {
                clearTimeout(timer);
                timer = setTimeout(function(){
                    searchStudent($('#searchStudentName').val());
                },500);
            });
            
            $('.accordion').accordion({
                active: false,
                collapsible: true            
            });
        });
        
        
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Gérez les inscriptions à ce cours : niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %} le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H\\hi') }} à {{ course.endTime | date('H\\hi') }}{% endblock %}
{%block submenu %}
<a class="btn tip-bottom" href="{{ path('course_show', { 'id': course.id }) }}"> <i class="my-icon-calendar"></i>Voir le cours</a>
{% endblock %}
{% block main_content %} 
<div class="row">
    <div class="col-md-2">
        <div class="widget-box widget-plain">
            <div class="widget-content center">
                <ul class="stats-plain">
                    <li>										
                        <h4 id="nbEnrolledStudents">{{ course.students|length }}</h4>
                        <span>inscrits actuellement</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 center">
        <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Cette page vous permet de gérer les inscriptions à ce cours, c'est-à-dire la liste des apprenants censés venir régulièrement et que vous souhaitez retrouver dans le formulaire de compte rendu afin de saisir les présences.
        <br />
        La liste de gauche vous permet de retrouver n'importe quel apprenant disposant d'une fiche sur le site. Celle de droite a pour but de retrouver et réinscrire rapidement les apprenants d'un de vos cours de la session précédente, les personnes revenant souvent au même cours d'une session à l'autre.
        <br />
        Si vous ne trouvez pas un apprenant, assurez-vous que celui-ci possède une fiche. Si ce n'est pas le cas, <a href="{{ path('student_new') }}">vous pouvez la créer dès à présent en cliquant ici.</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 center">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Trouvez n'importe quel apprenant et l'inscrire à ce cours</h5>
                <span id="nbStudents" class="label label-info tip-left"></span>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i id="loadingIcon" class="icon-search"></i>
                                        </span>
                                        <input class="form-control" type="text" id="searchStudentName" placeholder="Saisissiez une partie du nom de l'apprenant recherché">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="studentsList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 center">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Retrouvez des apprenants d'un cours de la session précédente</h5>
            </div>
            <div id="accordion" class="accordion">
            {% if previousCourses|length == 0 %}
                    <div class="none-found">Aucun cours n'a été trouvé pour vous dans la session précédente</div>
            {% else %}
                {% for previousCourse in previousCourses %}
                <div class="widget-box">
                    <div class="widget-title">
                        <a href="#">
                            {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': previousCourse.getClassLevel().getHtmlColorCode(), 'classLevelLabel': previousCourse.getClassLevel().getLabel() } %}
                            <h5>                                
                                le {{ previousCourse.dayOfWeek | day }}&nbsp; de {{ previousCourse.startTime | date('H:i') }} à {{ previousCourse.endTime | date('H:i') }} (cliquez pour ouvrir)
                            </h5>
                                
                        </a>
                    </div>
                    <div class="widget-content nopadding">
                        {% if studentsPerCourse[previousCourse.id]|length == 0 %}
                                <div class="none-found">Aucun apprenant trouvé pour ce cours</div>
                        {% else %}
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Nom</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center" colspan="4">
                                            <a id="enrollAll-c{{ previousCourse.id }}" class="btn btn-success btn-xs" onClick="enrollAll(new Array({% for student in studentsPerCourse[previousCourse.id] %}{{ student.student_id}}{%if not loop.last %},{% endif%}{% endfor %}), {{ course.id }}, true);">Inscrire tous</a>
                                            <a id="enrollAll-c{{ previousCourse.id }}" class="btn btn-danger btn-xs" onClick="enrollAll(new Array({% for student in studentsPerCourse[previousCourse.id] %}{{ student.student_id}}{%if not loop.last %},{% endif%}{% endfor %}), {{ course.id }}, false);">Désinscrire tous</a>                           
                                        </td>
                                    </tr>
                                {% for student in studentsPerCourse[previousCourse.id] %}
                                    <tr>
                                        <td class="center">
                                            {% set gender = '' %}
                                            {% if student.gender == 'F' %}
                                                {% set gender = 'Féminin' %}
                                                {% set pictureName = 'user_female.png' %}
                                            {% elseif student.gender == 'M' %}
                                                {% set gender = 'Masculin' %}
                                                {% set pictureName = 'user.png' %}
                                            {% endif %}
                                            {% if gender is not empty %}
                                                <img src="{{ asset('img/icons/' ~ pictureName ) }}" alt="{{ gender }}" title="{{ gender }}"  />
                                            {% endif %}
                                        </td>
                                        <td class="center">
                                            <img src="{{ asset('img/drapeaux/' ~ student.nativeCountry | lower ~ '.png')}}" alt="{{ student.nativeCountry }}" title="{{ student.nativeCountry }}" />
                                        </td>
                                        <td><strong>{{ student.firstname }} {{ student.lastname }}</strong></td>
                                        <td>
                                            {% if student.student_id in currentEnrolledStudentsIds|keys %}
                                                {% set styleUnenroll = "inline-block" %}
                                                {% set styleEnroll = "none" %}
                                            {% else %}
                                                {% set styleUnenroll = "none" %}
                                                {% set styleEnroll = "inline-block" %}
                                            {% endif %}
                                            <a id="enroll-c{{ course.id }}-s{{ student.student_id }}-{{ loop.parent.loop.index }}" class="btn btn-success btn-xs" style="display: {{ styleEnroll }};" onClick="enrollStudent({{ course.id }},{{ student.student_id }}, true);">Inscrire</a>
                                            <a id="unenroll-c{{ course.id }}-s{{ student.student_id }}-{{ loop.parent.loop.index }}" class="btn btn-danger btn-xs" style="display: {{ styleUnenroll }};" onClick="unenrollStudent({{ course.id }}, {{ student.student_id }}, true);">Désinscrire</a>
                                        </td>
                                    </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}