{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type="text/javascript">
        var fadeTime = 500;
                
        function toggleButton(idToHide, idToShow, index) {
            if ($(idToHide + '-' + index).length > 0) {
                $(idToHide + '-' + index).fadeOut(fadeTime, function(){
                    $(idToShow + '-' + index).fadeIn(fadeTime);
                });
            }
        }
        
        // This function is because the fadeIn callback in toggleButton would always use the last value of i
        function toggleButtons(idToHide, idToShow) {
            var i = 0;
            while ( i <= {{ previousCourses|length }} ) {
                toggleButton(idToHide, idToShow, i);
                i++;
            }
        }
        
        function enrollStudent(courseId, studentId) {
            var studentEnrollUrl = Routing.generate('course_enroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentEnrollUrl, function(data) {
                var id = 'enroll-c' + courseId + '-s' + studentId; 
                toggleButtons('#' + id, '#un' + id);
            });
    
        }
        
        function unenrollStudent(courseId, studentId) {
            var studentUnenrollUrl = Routing.generate('course_unenroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentUnenrollUrl, function(data) {
                var id = 'enroll-c' + courseId + '-s' + studentId; 
                toggleButtons('#un' + id, '#' + id);
            });
        }
        
        function searchStudent(studentName) {            
            $("#studentsList").empty();
            if (studentName === "") {                
                $('#nbStudents').text('');
                return;
            }
            $('#loadingIcon').toggleClass('icons-search').toggleClass('icon-refresh').toggleClass('icon-spin');
            var studentSearchUrl = Routing.generate('student_search_name', { 'name': studentName });
            var imgPath = '{{ asset('img') }}';
            $.get(studentSearchUrl, function(data) {
                students = data;
                $('#nbStudents').text(data.length);
                $.each(data, function(i, student) {
                    var studentLastName = student.lastname;
                    var studentFirstName = student.firstname;
                    var studentId = student.id;
                    var studentGender = student.gender;
                    var studentNativeCountryCode = student.nativeCountryCode;
                    var studentNativeCountryName = student.nativeCountryName;
                    
                    var genderIcon = '/icons/user.png';
                    if (studentGender === 'F') {
                        genderIcon = '/icons/user_female.png';
                    }
                    $("#studentsList").append('\
                        <tr>\
                            <td class="center"><img src="' + imgPath  + genderIcon + '" /></td>\
                            <td class="center"><img src="' + imgPath + '/drapeaux/' + studentNativeCountryCode.toLowerCase() + '.png" alt="' + studentNativeCountryName + '" title="' + studentNativeCountryName + '" /></td>\
                            <td><strong>' + studentFirstName + ' ' + studentLastName + '</strong></td>\
                            <td>\
                                <a id="enroll-c{{ course.id }}-s' + studentId + '-0" class="btn btn-success btn-xs" onClick="enrollStudent({{ course.id }}, ' + studentId + ');">Inscrire</a>\
                                <a id="unenroll-c{{ course.id }}-s' + studentId + '-0" class="btn btn-danger btn-xs" onClick="unenrollStudent({{ course.id }}, ' + studentId + ');">Désinscrire</a>\
                            </td>\
                        </tr>');
                    
                    $('#unenroll-c{{ course.id }}-s' + studentId + '-0').hide();
                    $.each(student.courses, function(j, course) {
                        if (course.id === {{ course.id }}) {
                            $('#enroll-c{{ course.id }}-s' + studentId + '-0').hide();
                            $('#unenroll-c{{ course.id }}-s' + studentId + '-0').show();
                        }
                    });
                });                
                $('#loadingIcon').toggleClass('icons-search').toggleClass('icon-refresh').toggleClass('icon-spin');
            });
        }

        $(document).ready(function () {
            var timer;
            $('#searchStudentName').keyup(function() {
                clearTimeout(timer);
                timer = setTimeout(function(){
                    searchStudent($('#searchStudentName').val());
                },500);
            });
        });
        
        
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Gérez les inscriptions à ce cours : niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %} le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H\\hi') }} à {{ course.endTime | date('H\\hi') }}{% endblock %}
{%block submenu %}
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-6 center">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Inscrire un nouvel apprenant</h5>
                <span id="nbStudents" class="label label-info tip-left"></span>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i id="loadingIcon" class="icon-search"></i>
                                        </span>
                                        <input class="form-control" type="text" id="searchStudentName" placeholder="Saisissiez une partie du nom de l'apprenant recherché">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="studentsList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 center">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Retrouvez des apprenants d'un cours de la session précédente</h5>
            </div>
            <div id="accordion" class="accordion">
            {% if previousCourses|length == 0 %}
                    <div class="none-found">Aucun cours n'a été trouvé pour vous dans la session précédente</div>
            {% else %}
                {% for previousCourse in previousCourses %}
                <div class="widget-box">
                    <div class="widget-title">
                        <a href="#">
                            {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': previousCourse.getClassLevel().getHtmlColorCode(), 'classLevelLabel': previousCourse.getClassLevel().getLabel() } %}
                            <h5>                                
                                le {{ previousCourse.dayOfWeek | day }}&nbsp; de {{ previousCourse.startTime | date('H:i') }} à {{ previousCourse.endTime | date('H:i') }}
                            </h5>
                        </a>
                    </div>
                    <div class="widget-content nopadding">
                        {% if studentsPerCourse[previousCourse.id]|length == 0 %}
                                <div class="none-found">Aucun apprenant trouvé pour ce cours: {{ course.id }}</div>
                        {% else %}
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Nom</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for student in studentsPerCourse[previousCourse.id] %}
                                    <tr>
                                        <td class="center">
                                            {% set gender = '' %}
                                            {% if student.gender == 'F' %}
                                                {% set gender = 'Féminin' %}
                                                {% set pictureName = 'user_female.png' %}
                                            {% elseif student.gender == 'M' %}
                                                {% set gender = 'Masculin' %}
                                                {% set pictureName = 'user.png' %}
                                            {% endif %}
                                            {% if gender is not empty %}
                                                <img src="{{ asset('img/icons/' ~ pictureName ) }}" alt="{{ gender }}" title="{{ gender }}"  />
                                            {% endif %}
                                        </td>
                                        <td class="center">
                                            <img src="{{ asset('img/drapeaux/' ~ student.nativeCountry | lower ~ '.png')}}" alt="{{ student.nativeCountry }}" title="{{ student.nativeCountry }}" />
                                        </td>
                                        <td><strong>{{ student.firstname }} {{ student.lastname }}</strong></td>
                                        <td>
                                            {% if student.student_id in currentEnrolledStudentsIds|keys %}
                                                {% set styleUnenroll = "inline-block" %}
                                                {% set styleEnroll = "none" %}
                                            {% else %}
                                                {% set styleUnenroll = "none" %}
                                                {% set styleEnroll = "inline-block" %}
                                            {% endif %}
                                            <a id="enroll-c{{ course.id }}-s{{ student.student_id }}-{{ loop.parent.loop.index }}" class="btn btn-success btn-xs" style="display: {{ styleEnroll }};" onClick="enrollStudent({{ course.id }},{{ student.student_id }});">Inscrire</a>
                                            <a id="unenroll-c{{ course.id }}-s{{ student.student_id }}-{{ loop.parent.loop.index }}" class="btn btn-danger btn-xs" style="display: {{ styleUnenroll }};" onClick="unenrollStudent({{ course.id }}, {{ student.student_id }});">Désinscrire</a>
                                        </td>
                                    </tr>
                            {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}