{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type="text/javascript">
        var fadeTime = 500;
        function enrollStudent(courseId, studentId) {
            var studentEnrollUrl = Routing.generate('course_enroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentEnrollUrl, function(data) {
                $('#enroll-c' + courseId + '-s' + studentId).fadeOut(fadeTime, function(){
                    $('#unenroll-c' + courseId + '-s' + studentId).fadeIn(fadeTime);
                });
            });
    
        }
        
        function unenrollStudent(courseId, studentId) {
            var studentUnenrollUrl = Routing.generate('course_unenroll_student', { 'courseId': courseId, 'studentId': studentId });
            $.get(studentUnenrollUrl, function(data) {
                $('#unenroll-c' + courseId + '-s' + studentId).fadeOut(fadeTime, function(){
                    $('#enroll-c' + courseId + '-s' + studentId).fadeIn(fadeTime);
                });
            });
        }
        
        function searchStudent(studentName) {            
            $("#studentsList").empty();
            if (studentName === "") {                
                $('#nbStudents').text('');
                return;
            }
            $('#loadingIcon').switchClass('icons-search', 'icon-refresh icon-spin');
            var studentSearchUrl = Routing.generate('student_search_name', { 'name': studentName });
            var imgPath = '{{ asset('img') }}';
            $.get(studentSearchUrl, function(data) {
                students = data;
                $('#nbStudents').text(data.length);
                $.each(data, function(i, student) {
                    var studentLastName = student.lastname;
                    var studentFirstName = student.firstname;
                    var studentId = student.id;
                    var studentGender = student.gender;
                    var studentNativeCountryCode = student.nativeCountryCode;
                    var studentNativeCountryName = student.nativeCountryName;
                    
                    var genderIcon = '/icons/user.png';
                    if (studentGender === 'F') {
                        genderIcon = '/icons/user_female.png';
                    }
                    $("#studentsList").append('\
                        <tr>\
                            <td class="center"><img src="' + imgPath  + genderIcon + '" /></td>\
                            <td class="center"><img src="' + imgPath + '/drapeaux/' + studentNativeCountryCode.toLowerCase() + '.png" alt="' + studentNativeCountryName + '" title="' + studentNativeCountryName + '" /></td>\
                            <td><strong>' + studentFirstName + ' ' + studentLastName + '</strong></td>\
                            <td>\
                                <a id="enroll-c{{ course.id }}-s' + studentId + '" href="#" class="btn btn-success btn-xs" onClick="enrollStudent({{ course.id }}, ' + studentId + ');">Inscrire</a>\
                                <a id="unenroll-c{{ course.id }}-s' + studentId + '" href="#" class="btn btn-danger btn-xs" onClick="unenrollStudent({{ course.id }}, ' + studentId + ');">Désinscrire</a>\
                            </td>\
                        </tr>').fadeIn(1000);
                    
                    $('#unenroll-c{{ course.id }}-s' + studentId).hide();
                    $.each(student.courses, function(j, course) {
                        if (course.id === {{ course.id }}) {
                            $('#enroll-c{{ course.id }}-s' + studentId).hide();
                            $('#unenroll-c{{ course.id }}-s' + studentId).show();
                        }
                    });
                });                
                $('#loadingIcon').switchClass('icon-refresh icon-spin', 'icons-search');
            });
        }

        $(document).ready(function () {
            var timer;
            $('#searchStudentName').keyup(function() {
                clearTimeout(timer);
                timer = setTimeout(function(){
                    searchStudent($('#searchStudentName').val());
                },500);
            });
        });
        
        
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Gérez les inscriptions à ce cours : niveau {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %} le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H\\hi') }} à {{ course.endTime | date('H\\hi') }}{% endblock %}
{%block submenu %}
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-6 center">
        <div class="widget-box">
            <div class="widget-title">
                <h5>Inscrire un nouvel apprenant</h5>
                <span id="nbStudents" class="label label-info tip-left"></span>
            </div>
            <div class="widget-content nopadding">
                <form action="#" method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i id="loadingIcon" class="icon-search"></i>
                                        </span>
                                        <input class="form-control" type="text" id="searchStudentName" placeholder="Saisissiez une partie du nom de l'apprenant recherché">
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="studentsList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}