{% block main_content %}
{% set currentSemester = app.session.get('currentSemester') %}
<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Planning du {{ currentSemester.startDate|date("d/m/Y") }} au {{ currentSemester.endDate|date("d/m/Y") }}</h5>
    </div>
    <div class="widget-content nopadding">
        <table id="planning" class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">&nbsp;</th>
                    {% for headerCell in headerCells %}
                        <th colspan="{{ headerCell.classRooms | length }}">{{ headerCell.day | day }}</th>   
                    {% endfor %}
                </tr>
                <tr>
                    {% for headerCell in headerCells %}
                        {% for classRoom in headerCell.classRooms %}
                            <th>{{ classRoom }}</th>     
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            {% for row in planningRows %}
            <tr>
                <th>{{ row.startTime | date('H:i') }} - {{ row.endTime | date('H:i')}}</th>
                {% for dayCells in row.cells %}
                    {% for classRoomCell in dayCells %}
                        {% if classRoomCell is not null %}
                            <td class="center" {% if classRoomCell.rowspan > 0 %} rowspan="{{ classRoomCell.rowspan }}" style="border: 3px solid {{ classRoomCell.course.classLevelColorCode }}"{% endif %}>
                            {% if classRoomCell.course is not null %}
                                    <div class="transbox">
                                        <p>
                                        <strong>Niveau {{ classRoomCell.course.classLevelLabel }}</strong>
                                        <br/>
                                        {{ classRoomCell.course.startTime | date('H:i') }} - {{ classRoomCell.course.endTime | date('H:i') }}
                                        <br />
                                        {% for teacher in classRoomCell.course.teachers %}
                                            {{ teacher['teacher_firstName'] }} {{ teacher['teacher_lastName'] }}<br />
                                        {% endfor %}
                                        <!--<a href="{{ path('course_show', { 'id': classRoomCell.course.id }) }}">Détail</a>-->
                                        </p>
                                    </div>
                            {% else %}
                                {{ classRoomCell.content | raw }}
                            {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}