{% extends '::main_content.html.twig' %}
{% block content_title %}Planning des cours{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('course_index') }}"> <i class="icon-list"></i>Voir la liste des cours</a>
    <a class="btn tip-bottom" href="{{ path('course_new') }}"> <i class="icon-add"></i>Nouveau cours</a>
{% endblock %}
{% block main_content %}
<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Planning de cette session</h5>
    </div>
    <div class="widget-content nopadding">
        <table id="planning" class="table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    {% for headerCell in headerCells %}
                        <th colspan="{{ headerCell.classRooms | length }}">{{ headerCell.day | day }}</th>   
                    {% endfor %}
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    {% for headerCell in headerCells %}
                        {% for classRoom in headerCell.classRooms %}
                            <th>{{ classRoom }}</th>     
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            {% for row in planningRows %}
            <tr>
                <th>{{ row.startTime | date('H:i') }} - {{ row.endTime | date('H:i')}}</th>
                {% for dayId,dayCells in row.cells %}
                    {% for classRoomId,classRoomCell in dayCells %}
                        {% if classRoomCell is not null %}
                            <td class="center" {% if classRoomCell.rowspan > 0 %} rowspan="{{ classRoomCell.rowspan }}" bgcolor="{{ classRoomCell.course.classLevel.htmlColorCode }}"{% endif %}>
                               <!-- {{ dayId }}, {{ classRoomId }} -->
                            {% if classRoomCell.course is not null %}
                                    <div class="transbox">
                                        <p>
                                        Niveau {{ classRoomCell.course.classLevel.label }}<br/>{{ classRoomCell.course.startTime | date('H:i') }} - {{ classRoomCell.course.endTime | date('H:i') }}
                                        <br />
                                        <a href="{{ path('course_show', { 'id': classRoomCell.course.id }) }}">Détail</a>
                                        </p>
                                    </div>
                            {% else %}
                                {{ classRoomCell.content | raw }}
                            {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}