{% extends '::base.html.twig' %}
{% block body %}
<h1>Cours</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Jour</th>
            <td>{{ entity.dayOfWeek }}</td>
        </tr>
        <tr>
            <th>Débute à</th>
            <td>{{ entity.startTime | date('H:i') }}</td>
        </tr>
        <tr>
            <th>Fini à</th>
            <td>{{ entity.endTime | date('H:i') }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ entity.alternateStartdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ entity.alternateEnddate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Niveau</th>
            <td>{{ entity.classLevel }}</td>
        </tr>
        <tr>
            <th>Formateurs</th>
            {% for teacher in entity.teachers %}
                <td>{{ teacher.lastname }} {{ teacher.firstname }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('course_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('course_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}