
{% extends '::base.html.twig' %}
{% block body %} 
          <div class="row-fluid">
            <div class="span3">
                <h2>Mes cours</h2>
                <ul>
                    {% if myCourses is empty %}
                        Vous ne dirigez aucun cours pour le moment !
                    {% else %}
                        {% for course in myCourses %}
                            <li>Niveau {{ course.classLevel }} le {{ course.dayOfWeek| day }} de {{ course.startTime|date('H:i') }} à {{ course.endTime|date('H:i') }} 
                                <br /><a href="{{ path('classsession_add', { 'course_id': course.id }) }}">Ajouter un compte-rendu</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <p><a class="btn" href="{{ path('course_index') }}">Voir tous les cours &raquo;</a></p>
            </div><!--/span-->
            <div class="span9">
                <h2>Mes apprenants ({{ nbMyStudents }})</h2>
                    {% if myStudents is empty %}
                        Aucun apprenant n'est inscrit à l'un de vos cours pour le moment.
                    {% else %}
                        <div class="left_list">
                            <ul>
                            {% for student in myStudents %}
                                <li class="user_{{ student['gender'] }}">
                                    <a href="{{ path('student_show', { 'id': student['id'] }) }}">{{ student['firstname']}} {{ student['lastname'] }}</a>
                                    {% if student['nb_comments'] > 0 %}
                                        <img src="{{ asset('images/icons/comment.png') }}" title="{{ student['nb_comments'] }} commentaire(s)" alt="{{ student['nb_comments'] }} commentaire(s)" />
                                    {% endif %}
                                </li>
                                {% if loop.index % nbMyStudentsLineBreak == 0  and loop.index != loop.last %}
                                    </ul></div><div class="left_list"><ul>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}                        
              <div class="clear_list"></div>
              <p><a class="btn" href="{{ path('student_index') }}">Voir tous les apprenants &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span3">
                <h2>Mes compte-rendus</h2>
                    {% if myClassSessions is empty %}
                        Vous n'avez enregistré aucun compte-rendu pour le moment, voulez-vous le faire <a href="{{ path('classsession_new') }}">maintenant</a> ?
                    {% else %}
                        <div class="left_list">
                            <ul>
                            {% for classSession in myClassSessions %}
                                <li><a href="{{ path('classsession_show', { 'id': classSession.id }) }}">{{ classSession.date | date("d/m/Y") }}</a>
                                {% if classSession.nb_comments > 0 %}
                                    <img src="{{ asset('images/icons/comment.png') }}" title="{{ classSession.nb_comments }} commentaire(s)" alt="{{ classSession.nb_comments }} commentaire(s)" />
                                {% endif %}
                                </li>
                                {% if loop.index == myClassSessionsLineBreak and loop.index != loop.last %}
                                    </ul></div><div class="left_list"><ul>
                                {% endif %}
                            {% endfor %}
                            </ul>
                         </div>
                    {% endif %}                
                <div class="clear_list"></div>
                <p><a class="btn" href="{{ path('classsession_index') }}">Voir tous mes compte-rendus &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Mes documents</h2>
              <ul>
                  <li>Document A</li>
                  <li>Document B</li>
                  <li>Document C</li>
                  <li>Document D</li>
                  <li>Document E</li>
              </ul>
              <p><a class="btn" href="{{ path('classsession_index') }}">Voir tous les documents &raquo;</a></p>
            </div><!--/span-->
            <div class="span5">
                <h2>Dernier compte-rendus enregistrés</h2>                
                    <div class="left_list">
                        <ul>
                            {% if latestClassSessions is empty %}
                                Aucun compte-rendu enregistré pour le moment.
                            {% else %}
                                {% for classSession in latestClassSessions %}
                                    <li>
                                        <a href="{{ path('classsession_show', { 'id': classSession['id'] }) }}">{{ classSession['date'] | date("d/m/Y") }}</a>
                                        {% if classSession['nb_comments'] > 0 %}
                                                <img src="{{ asset('images/icons/comment.png') }}" title="{{ classSession['nb_comments'] }} commentaire(s)" alt="{{ classSession['nb_comments'] }} commentaire(s)" />
                                        {% endif %}
                                    </li>                            
                                    {% if loop.index == latestClassSessionsLineBreak and loop.index != loop.last %}
                                        </ul></div><div class="left_list"><ul>
                                    {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="clear_list"></div>
                <p><a class="btn" href="{{ path('classsession_index') }}">Voir tous les compte-rendus &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
{% endblock %}