{% extends '::main_content.html.twig' %}
{% block content_title %}{{ random(['Bienvenue', 'Salut', 'Hello', 'Bonjour']) }} {{ app.user.firstname }} !{% endblock %}
{% block main_content %}
    <div class="row-fluid">
      <div class="span4">
          <div class="widget-box" id="myCourses">
                <div class="widget-title">
                        <span class="icon">
                                <i class="icon-th-list"></i>
                        </span>
                        <h5>Mes cours</h5>
                </div>
                <div class="widget-content">
                        {% if myCourses is empty %}
                            Vous ne dirigez aucun cours pour le moment !
                        {% else %}
                            {% for course in myCourses %}
                            <div class="course-quick-access">
                                    <strong>{{ course.classLevel }}, le {{ course.dayOfWeek| day }} de {{ course.startTime | date('H:i') }} à {{ course.endTime | date('H:i') }}</strong>
                                    <br />
                                    <a href="{{ path('course_show', { 'id': course.id }) }}" >Voir le cours</a>
                                    <br />
                                    <a  class="btn virgule-btn" href="{{ path('classsession_add', { 'id': course.id }) }}"><i class="icon-add"></i>Compte-rendu</a>
                                    <a  class="btn virgule-btn" href="{{ path('attendance_list', { 'id': course.id }) }}" target="_blank"><i class="icon-trombinoscope"></i>Fiche de présence</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    <ul class="recent-posts">
                        <li class="viewall">
                            <a href="{{ path('course_index') }}" class="tip-top" title=""> + Voir tous les cours + </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% if myClassSessions | length % 3 == 0 %}
            {% set listBreak = myClassSessions | length // 3 %}
        {% else %}
            {% set listBreak = (myClassSessions | length // 3) + 1 %}
        {% endif %}
        {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Mes compte-rendus', 'classSessions': myClassSessions, 'nbColumns': 3 }  %}
      </div><!--/span-->
      <div class="span8">
          {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Mes apprenants', 'students': myStudents, 'nbColumns': 4, 'displayAllStudentButton': true }  %}
            <div class="row-fluid">
              <div class="span6">          
                  {% include 'VirguleMainBundle:Document:mini-list.html.twig' with { 'title': 'Mes documents', 'documents': myDocuments, 'nbColumns': 4, 'displayAllDocumentButton': true }  %}
              </div><!--/span-->
              <div class="span6">
                {% if latestClassSessions | length % 3 == 0 %}
                    {% set listBreak = latestClassSessions | length // 3 %}
                {% else %}
                    {% set listBreak = (latestClassSessions | length // 3) + 1 %}
                {% endif %}
                {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Les 15 derniers compte-rendus enregistrés', 'classSessions': latestClassSessions, 'nbColumns': 3, 'displayAllClassSessionsButton': true }  %}
              </div><!--/span-->
            </div><!--/row-->              
      </div><!--/span-->
    </div><!--/row-->
    </div><!--/span-->
{% endblock %}