{% extends '::main_content.html.twig' %}
{% block content_title %}{{ random(['Bienvenue', 'Salut', 'Hello', 'Bonjour']) }} {{ app.user.firstname }} !{% endblock %}
{% block main_content %}
<div id="welcome" class="row">    
    <div class="col-xs-12 col-md-12 col-lg-8">
        <div class="row">
            <div class="widget-box" id="myCourses">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-th-list"></i>
                    </span>
                    <h5>Mes cours</h5>
                </div>
                <div class="widget-content updates">
                {% if myCourses is empty %}<div class="none-found">Vous ne dirigez aucun cours pour le moment</div>{% else %}
                    {% for course in myCourses %}
                    <div class="new-update clearfix">
                        <div class="update-done">						
                            <a class="btn btn-default virgule-btn" href="{{ path('classsession_add', { 'id': course.id }) }}"><i class="my-icon-add"></i>Compte rendu</a>
                            <a class="btn btn-default virgule-btn" href="{{ path('course_manage_enrollments', { 'id': course.id }) }}"><i class="my-icon-manage-students"></i>Gérer les inscriptions</a>
                            <a class="btn btn-default virgule-btn" href="{{ path('attendance_list', { 'id': course.id }) }}" target="_blank"><i class="my-icon-trombinoscope"></i>Fiche présence</a>
                        </div>
                        <a href="{{ path('course_show', { 'id': course.id }) }}" >
                            <div class="class-date">
                                {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.getClassLevel().getHtmlColorCode(), 'classLevelLabel': course.getClassLevel().getLabel() } %}
                                <span class="update-day">{{ course.dayOfWeek | day }}</span>{{ course.startTime | date('H:i') }} - {{ course.endTime | date('H:i') }}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
                    <ul class="recent-posts">
                        <li class="viewall">
                            <a href="{{ path('course_index') }}" class="tip-top" title=""> + Voir tous les cours + </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Mes apprenants', 'students': myStudents, 'nbColumns': 3, 'displayMyStudentsButton': true }  %}
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="row">
            {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Mes 12 derniers comptes rendus', 'classSessions': myClassSessions, 'nbColumns': 2, 'displayAllClassSessionsButton': true }  %}
        </div>
        <div class="row">
        {% include 'VirguleMainBundle:Document:mini-list.html.twig' with { 'title': 'Mes documents', 'documents': myDocuments, 'nbColumns': 2, 'displayAllDocumentButton': true }  %}
        </div>
    </div>
</div>
{% endblock %}