{% extends '::main_content.html.twig' %}
{% block content_title %}{{ random(['Bienvenue', 'Salut', 'Hello', 'Bonjour']) }} {{ app.user.firstname }} !{% endblock %}
{% block main_content %}
    <div class="row-fluid">
      <div class="span4">
          <div class="widget-box" id="myCourses">
                <div class="widget-title">
                        <span class="icon">
                                <i class="icon-th-list"></i>
                        </span>
                        <h5>Mes cours</h5>
                </div>
                <div class="widget-content">
                    <ul>
                        {% if myCourses is empty %}
                            Vous ne dirigez aucun cours pour le moment !
                        {% else %}
                            {% for course in myCourses %}
                                <li><a href="{{ path('course_show', { 'id': course.id }) }}" >Niveau {{ course.classLevel }} le {{ course.dayOfWeek| day }} de {{ course.startTime | date('H:i') }} à {{ course.endTime | date('H:i') }}</a>
                                    <br />
                                    <a  class="btn virgule-btn" href="{{ path('classsession_add', { 'id': course.id }) }}"><i class="icon-add"></i>Compte-rendu</a>
                                    <a  class="btn virgule-btn" href="{{ path('classsession_add', { 'id': course.id }) }}"><i class="icon-trombinoscope"></i>Fiche de présence</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <p><a class="btn virgule-btn" href="{{ path('course_index') }}"><i class="icon-go"></i> Voir tous les cours</a></p>
                </div>
            </div>
      </div><!--/span-->
      <div class="span8">
          {% include 'VirguleMainBundle:Student:mini-list.html.twig' with { 'title': 'Mes apprenants', 'students': myStudents, 'nbColumns': 4, 'displayAllStudentButton': true }  %}
      </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span4">
        {% if myClassSessions | length % 3 == 0 %}
            {% set listBreak = myClassSessions | length // 3 %}
        {% else %}
            {% set listBreak = (myClassSessions | length // 3) + 1 %}
        {% endif %}
        {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Mes compte-rendus', 'classSessions': myClassSessions, 'nbColumns': 3 }  %}
      </div><!--/span-->
      <div class="span4">          
          <div class="widget-box">
                <div class="widget-title">
                        <span class="icon">
                                <i class="icon-th-list"></i>
                        </span>
                        <h5>Mes documents</h5>
                </div>
                <div class="widget-content">
                    <ul>
                        <li>Document A</li>
                        <li>Document B</li>
                        <li>Document C</li>
                        <li>Document D</li>
                        <li>Document E</li>
                    </ul>
                    <p><a class="btn virgule-btn" href="{{ path('classsession_index') }}"><i class="icon-go"></i> Voir tous les documents</a></p>
                </div>
            </div>
      </div><!--/span-->
      <div class="span4">
        {% if latestClassSessions | length % 3 == 0 %}
            {% set listBreak = latestClassSessions | length // 3 %}
        {% else %}
            {% set listBreak = (latestClassSessions | length // 3) + 1 %}
        {% endif %}
        {% include 'VirguleMainBundle:ClassSession:mini-list.html.twig' with { 'title': 'Les 10 derniers compte-rendus enregistrés', 'classSessions': latestClassSessions, 'nbColumns': 3, 'displayAllClassSessionsButton': true }  %}
      </div><!--/span-->
    </div><!--/row-->
    </div><!--/span-->
{% endblock %}