<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alphabétisation - Croix-Rouge Française</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('css/unicorn.login.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/select2.css') }}" rel="stylesheet" media="screen" />
        
        
        <style type="text/css" title="currentStyle" media="screen">          
            body {
                padding-top: 20px;
                padding-bottom: 40px;
                background-color: #EEEEEE;
            }        
            .container { max-width: 851px; }
            #main-container.container {  
                margin-top: 5px;
                max-width: 851px;
                background-image: url({{ asset('img/apple.jpg') }});
                height: 564px;
                border: 2px solid #e5e5e5;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);  
            }
            #loginbox {
                height: 260px;   
                opacity: 0.92;
                margin-top: 50px;
            }
        </style>
    </head>
    <body onload="document.getElementById('username').focus();">
        <div class="container">
            <img src="{{ asset('img/croixrouge.png') }}" alt="Croix-Rouge française" />
        </div>
        <div class="container" id="main-container">
            <div id="loginbox">            
                <form id="loginform" action="{{ path('login_check') }}" method="post">
                    <h2>Service alphabétisation</h2>
                    <input type="hidden" name="_target_path" value="/welcome" />                    
                    <div class="input-group input-sm">
                        <select name="organization_branch_id" class="select">
                            {% for organization_branch in organization_branches %}
                            <option value="{{ organization_branch.id }}">{{ organization_branch.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group input-sm">
                        <span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"  placeholder="Nom d'utilisateur" />
                    </div>
                    <div class="input-group input-sm">
                        <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" type="password" name="_password"  placeholder="Mot de passe" />
                    </div>         
                    <div class="form-actions clearfix">
                        <div class="pull-left">
                            <a href="#recoverform" class="flip-link to-recover grey">Mot de passe oublié ?</a>
                        </div>
                        <input type="submit" class="btn btn-block btn-primary btn-default btn-success" value="Connexion" />
                    </div>
                </form>
                <form id="recoverform" action="#" class="form-vertical">
                    <p>Entrez votre adresse email et vous recevrez des instructions pour réinitialiser votre mot de passe</p>
                    <div class="input-group input-sm">
                        <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" type="text" name="_email"  placeholder="Adresse email" />
                    </div> 
                    <div class="form-actions">
                        <span class="pull-left"><a href="#" class="flip-link to-login" id="to-login">&lt; Retour au formulaire de connexion</a></span>
                        <span class="pull-right"><input type="submit" class="btn btn-success" value="Réinitialiser" /></span>
                    </div>
                </form>
            </div>
        </div>     
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/select2.min.js') }}"></script>   
        <script type="text/javascript" src="{{ asset('js/unicorn.login.js') }}"></script> 
        
        <script type="text/javascript" src="{{ asset('js/jquery.icheck.min.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('js/jquery.jpanelmenu.min.js') }}"></script>     
        <script type="text/javascript" src="{{ asset('js/jquery.nicescroll.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/unicorn.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/unicorn.form_common.js') }}"></script>
    </body>
</html>
