<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '::head.html.twig' %}
        <title>Alphabétisation - Croix-Rouge Française</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
        <link href="{{ asset('css/unicorn.login.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/select2.css') }}" rel="stylesheet" media="screen" />
        <style type="text/css" title="currentStyle" media="screen">    
        body {
            padding-top: 10px;
            background-color: #f5f5f5 !important;
        }
        .container { max-width: 851px; }
        #main-container.container {  
            margin-top: 5px;
            max-width: 851px;
            background-image: url({{ asset('img/apple.jpg') }});
            height: 564px;
            border: 2px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);  
        }
        #loginbox {
            opacity: 0.92;
        }
        </style>
        
    </head>
    <body>
        <div class="container" id="crf_logo">
            <img src="{{ asset('img/croixrouge.png') }}" alt="Croix-Rouge française" />
        </div>
        <div class="container" id="main-container">     
            <div id="container">
                <div id="logo"></div>
                <div id="loginbox">            
                    <form id="loginform" action="{{ path('login_check') }}" method="post">
                        <input type="hidden" name="_target_path" value="/welcome" />
                        <p>Service alphabétisation</p>
                        <div class="input-prepend">
                        <select name="organization_branch_id" class="select">
                            {% for organization_branch in organization_branches %}
                            <option value="{{ organization_branch.id }}">{{ organization_branch.name }}</option>
                            {% endfor %}
                        </select>
                        </div>            
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"  placeholder="Nom d'utilisateur" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" type="password" name="_password"  placeholder="Mot de passe" />
                        </div>
                        <div class="input-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" /> Se rappeler de moi
                        </div>
                        <hr />
                        <div class="form-actions">
                            <div class="pull-left">
                                <a href="#" class="flip-link to-recover">Mot de passe oublié ?</a><br />
                            </div>
                            <div class="pull-right"><input type="submit" class="btn btn-default" value="Connexion" /></div>
                        </div>
                    </form>
                    <form id="recoverform" action="#">
                        <p>Entrez votre adresse email pour entamer la procédure de réinitialisation du mot de passe.</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-envelope"></i></span><input class="form-control" type="text" placeholder="Adresse email" />
                        </div>
                        <hr />
                        <div class="form-actions">
                            <div class="pull-left">
                                <a href="#" class="flip-link to-login">&laquo; Retour au formulaire de connexion</a><br />
                            </div>
                            <div class="pull-right"><input type="submit" class="btn btn-default" value="Réinitialiser" /></div>
                        </div>
                    </form>
                    <form id="registerform" action="#">
                        <p>Enter information required to register:</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control" type="text" placeholder="Enter Username" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" type="password" placeholder="Choose Password" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" type="password" placeholder="Confirm password" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-envelope"></i></span><input class="form-control" type="text" placeholder="Enter E-mail address" />
                        </div>
                        <hr />
                        <div class="form-actions">
                            <div class="pull-left">
                                <a href="#" class="flip-link to-login">&laquo; Back to login</a><br />
                                <a href="#" class="flip-link to-recover">Lost password?</a>
                            </div>
                            <div class="pull-right"><input type="submit" class="btn btn-default" value="Register" /></div>
                        </div>
                    </form>
                        
                    {% if error %}
                        <div class="alert alert-error">
                           {{ error.message | trans }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/unicorn.login.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/select2.min.js') }}"></script>
    </body>
</html>
