{% extends '::base.html.twig' %}
{% block body %}
<h1>Formateurs creation</h1>
<div id="errorMsg">
{{ form_errors(form) }}
</div>
<form action="{{ path('formateurs_create') }}" method="post" {{ form_enctype(form) }} class="uniForm">
      <fieldset>
        <legend>Informations de connexion</legend>
        {{ form_row(form.actif_yn, { 'checked':'checked', 'label': 'Formateur en activité ?', 'hint':'Cochez la case si oui' }) }}
        {{ form_row(form.nomFormateur, { 'label': 'Nom' }) }}
        {{ form_row(form.prenomFormateur, { 'class':'right', 'label': 'Prénom' }) }}
        {{ form_row(form.login, { 'label': 'Nom d\'utilisateur' }) }}
        {{ form_row(form.motDePasse, { 'label': 'Mot de passe', 'hint':'Choisissez un mot de passe d\'au moins 8 caractères' }) }}
      </fieldset>
        <fieldset>
        <legend>Coordonnées</legend>
        {{ form_row(form.telFixe, { 'label': 'Téléphone fixe' }) }}
        {{ form_row(form.telPortable, { 'label': 'Téléphone portable' }) }}
        {{ form_row(form.adresseEmail, { 'label': 'Adresse email' }) }}
        {{ form_rest(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
      </fieldset>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('formateurs') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}