{% extends '::base.html.twig' %}
{% block body %}
<h1>{{ entity.prenomFormateur }} {{ entity.nomFormateur }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Actif</th>
            <td>{{ entity.actifYn }}</td>
        </tr>
        <tr>
            <th>Téléphone fixe</th>
            <td>{{ entity.telFixe }}</td>
        </tr>
        <tr>
            <th>Téléphone portable</th>
            <td>{{ entity.telPortable }}</td>
        </tr>
        <tr>
            <th>Adresse email</th>
            <td><a href="mailto:{{ entity.adresseEmail }}"/>{{ entity.adresseEmail }}</a></td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ entity.login }}</td>
        </tr>
        <tr>
            <th>Motdepasse</th>
            <td>{{ entity.motDePasse }}</td>
        </tr>
        <tr>
            <th>Dateinscription</th>
            <td>{{ entity.dateInscription|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datederniereconnexion</th>
            <td>{{ entity.dateDerniereConnexion|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('formateurs') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('formateurs_edit', { 'id': entity.idFormateur }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('formateurs_delete', { 'id': entity.idFormateur }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}