{% extends '::base.html.twig' %}
{% block body %}
<h1>{{ entity.prenomFormateur }} {{ entity.nomFormateur }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Actif</th>
            <td>{{ entity.actifYn }}</td>
        </tr>
        <tr>
            <th>Téléphone fixe</th>
            <td>{{ entity.telFixe }}</td>
        </tr>
        <tr>
            <th>Téléphone portable</th>
            <td>{{ entity.telPortable }}</td>
        </tr>
        <tr>
            <th>Adresse email</th>
            <td><a href="mailto:{{ entity.adresseEmail }}"/>{{ entity.adresseEmail }}</a></td>
        </tr>
        <tr>
            <th>Inscrit(e) le</th>
            <td>{{ entity.dateInscription|date('d/m/Y') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('formateurs') }}">
            Retour à la liste des formateurs
        </a>
    </li>
    <li>
        <a href="{{ path('formateurs_edit', { 'id': entity.idFormateur }) }}">
            Modifier la fiche
        </a>
    </li>
    <li>
        <form action="{{ path('formateurs_delete', { 'id': entity.idFormateur }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}