<h1>OrganizationBranch edit</h1>

<form action="{{ path('organizationbranch_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('organizationbranch') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('organizationbranch_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% extends '::main_content.html.twig' %}
{% block content_title %}Ajouter une délégation{% endblock %}
{%block submenu %}
    <a class="btn tip-bottom" href="{{ path('organizationbranch_updte') }}"> <i class="icon-list"></i>Retour à la liste des délégations</a>
{% endblock %}
{% block main_content %}
<form action="{{ path('organizationbranch_create') }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="widget-box">
        {% include 'VirguleMainBundle:OrganizationBranch:form.html.twig' with { 'form': edit_form }  %}
        <div class="form-actions">                                     
            <input class="btn btn-success" type="submit" value="Mettre à jour la délégation" /> 
        </div>
    </div>
</form>
{% endblock %}
