{% extends '::main_content.html.twig' %}
{% block content_title %}Information sur la délégation{% endblock %}
{%block submenu %}
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 form-horizontal not-form-horizontal">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                                <i class=""></i>
                        </span>
                        <h5>{{ entity.name }}</h5>
                    </div>            
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <label class="control-label">Président</label>
                            <div class="controls">{{ entity.presidentName }}</div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Adresse</label>
                            <div class="controls">{{ entity.address }}</div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Téléphone</label>
                            <div class="controls">{{ entity.phoneNumber | phoneNumber }}</div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Fax</label>
                            <div class="controls">{{ entity.faxNumber }}</div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Adresse email</label>
                            <div class="controls"><a href="mailto:{{ entity.emailAddress }}">{{ entity.emailAddress }}</a></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}