{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block stylesheets %}
        <link href="{{ asset('css/colorpicker.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/bootstrap-colorpicker.js') }}"></script> 
    {% endblock %}
{% endblock %}
{% block content_title %}Niveaux de cours{% endblock %}
{%block submenu %}new
{% endblock %}
{% block main_content %}
<div class="span6">  
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-th"></i>
            </span>
            <h5>Niveaux de cours (partagés par les délégations)</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Couleur associée</th>
                    </tr>
                </thead>
                <tbody>
                {% for classLevel in classLevels %}
                    <tr>
                        <td class="center">{{ classLevel.label }}</td>
                        <td class="center"><span class="badge" style="background-color: {{ classLevel.htmlColorCode }};">{{  classLevel.htmlColorCode }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="span6">
    {% include 'VirguleMainBundle:ClassLevel:new.html.twig'  %}
</div>
{% endblock %}