{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block stylesheets %}
        <link href="{{ asset('css/colorpicker.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/bootstrap-colorpicker.js') }}"></script>  
        <script>
        function saveLevelsPositions() {            
            $( "#levels-list li" ).each(function(i) {         
                var classLevelUpdatePositionUrl = Routing.generate('class_level_update_position', { 'classLevelId': $( this ).attr("class-level-id"), 'position': (i+1) });
                $.get(classLevelUpdatePositionUrl, function(data) {
                });
            });
        }
        $(function() {
            $('#levels-list').sortable({
                update: function(event, ui) {
                    saveLevelsPositions();
                }
            });
        });
    </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Niveaux de cours{% endblock %}
{%block submenu %}
{% endblock %}
{% block main_content %}
<div class="col-md-6">  
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-th"></i>
            </span>
            <h5>Niveaux de cours</h5>
        </div>
        <div class="widget-content nopadding">
            <div class="alert alert-info alert-padding">
                Les niveaux de cours sont partagés par toutes les délégations. 
                Ils seront affichés dans chaque formulaire dans l'ordre utilisé ci-dessous, faites-les glisser pour les réorganiser. 
            </div>
            <ol id="levels-list">
                {% for classLevel in classLevels %}
                <li class-level-id="{{ classLevel.id }}"><div class="alert class-level" style="background-color: {{ classLevel.htmlColorCode }};">{{  classLevel.label }}</div></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<div class="col-md-6">
    {% include 'VirguleMainBundle:ClassLevel:new.html.twig'  %}
</div>
{% endblock %}