{% block body -%}
    <form action="{{ path('classlevelsuggested_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.classLevel, { 'label': 'Niveau conseillé' }) }}
        {{ form_row(form.student, { 'value': studentId }) }}
        {{ form_rest(form) }} 
            <button type="submit" class="btn btn-success">Mettre le niveau à jour</button>
    </form>
{% endblock %}
