<html>
    <head>
        <title>Fiche de présence</title>
    </head>
    <style>
        table, th, td{
            border: 1px solid #000000;
        }
    </style>
    <body>
        <h1>Fiche de présence</h1>
        <h2>Niveau {{ course.classLevel }}, {{ course.dayOfWeek| day }} de {{ course.startTime | date('H:i') }} à {{ course.endTime | date('H:i') }}</h2> 
        <h3>Date du cours : </h3>
        <table class="attendance" cellspacing="0">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Signature</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Signature</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Signature</th>
              </tr>
            </thead>
            <tr>
            {% for key,entity in students_array %}
                    <td>{{ entity['lastname']|upper }}</td>
                    <td>{{ entity['firstname'] }}</td>
                    <td>&nbsp;</td>
                {% if loop.index % 3 == 0 %}
                    </tr><tr>
                {% endif %}
                {% if loop.last == true %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    <body>
</html>