<html>
    <head>
        <title>Fiche de présence</title>
    </head>
    <style>
        table, th, td{
            border: 1px solid #000000;
        }
    </style>
    <body>
        <h1>Fiche de présence</h1>
        {% if course is not empty %}
            <h2>Niveau {{ course[0].classLevel }}, {{ course[0].dayOfWeek| day }} de {{ course[0].startTime | date('H:i') }} à {{ course[0].endTime | date('H:i') }}</h2> 
        {% endif %}
        <h3>Date du cours : </h3>
        <table class="attendance" cellspacing="0">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Contact d'urgence</th>
                <th>Signature</th>
              </tr>
            </thead>
            {% for key,entity in students_array %}
            <tr>
                <td>{{ entity['lastname']|upper }}</td>
                <td>{{ entity['firstname'] }}</td>
                <td>
                    {{ entity['emergencyContactFirstname'] }} {{ entity['emergencyContactLastname'] }} 
                    {% if entity['emergencyContactConnectionType'] is not empty %}({{entity['emergencyContactConnectionType'] }}){% endif %}
                    {{ entity['emergencyContactPhoneNumber'] | phoneNumber }}
                </td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        </table>
    <body>
</html>
