{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
     <script type='text/javascript'>
        function setRegistrationDate(date) {
            document.getElementById('registrationDateField').value = date;
        }
     </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Modifier la fiche de {{ entity.firstName }} {{ entity.lastName }}{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('student_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
    <div class="widget-box">
        {% include 'VirguleMainBundle:Student:form.html.twig' with { 'form': edit_form }  %}
        {{ form_row(edit_form.otherCourses) }} 
        <div class="form-actions">                                     
            <input class="btn btn-success" type="submit" value="Mettre à jour l'apprenant" /> 
        </div>
    </div>
</div>
{% endblock %}
