
        <div class="widget-title">
            <span class="icon">
                <i class="icon-user"></i>									
            </span>
            <h5>Informations personnelles et coordonnées</h5>
            {% if not form.vars.valid %}<span class="label label-danger">{{ form.vars.errors|length > 0 }} erreur{% if form.vars.errors|length > 1 %}s{% endif %} </span>{% endif %}
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.file, { 'label': 'Photo', 'hint':'L\'image sera redimensionnée à 400x400' }) }}
            {{ form_row(form.firstname, { 'label': 'Prénom'}) }}
            {{ form_row(form.lastname, { 'label': 'Nom' }) }}                
            {{ form_row(form.gender, { 'label': 'Sexe' }) }}                
            {{ form_row(form.birthdate, { 'label': 'Date de naissance', 'hint':'Cliquez une ou deux fois sur l\'en-tête du calendrier pour naviguer plus vite entre les années' }) }}                
            {{ form_row(form.nativeCountry, { 'label': 'Pays d\'origine' }) }}
            {{ form_row(form.spokenLanguages, { 'label': 'Langue(s) parlée(s)', 'hint' : 'Tapez une partie de la langue recherchée pour y accéder rapidement. Vous pouvez sélectionner plusieurs langues.' }) }}
            {{ form_row(form.arrivalDate, { 'label': 'Date d\'arrivée en France' }) }}
            {{ form_row(form.phoneNumber, { 'label': 'Téléphone fixe', 'hint' : '10 chiffres sans espace' }) }}
            {{ form_row(form.cellphoneNumber, { 'label': 'Téléphone portable', 'hint' : '10 chiffres sans espace' }) }}
            {{ form_row(form.address, { 'label': 'Adresse' }) }}
            {{ form_row(form.zipcode, { 'label': 'Code postal' }) }}
            {{ form_row(form.city, { 'label': 'Ville' }) }}
            {{ form_row(form.profession, { 'label': 'Profession' }) }}
        </div>
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-ambulance"></i>									
            </span>
            <h5>A contacter en cas d'urgence</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.emergencyContactFirstname, { 'label': 'Prénom' }) }}                
            {{ form_row(form.emergencyContactLastname, { 'label': 'Nom' }) }}  
            {{ form_row(form.emergencyContactPhoneNumber, { 'label': 'Numéro de téléphone' }) }}  
            {{ form_row(form.emergencyContactConnectionType, { 'label': 'Relation avec l\'apprenant' }) }}
        </div>
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-plus"></i>									
            </span>
            <h5>Inscription Croix-Rouge</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.registrationDate, { 'label': 'Accueilli le', 'id': 'registrationDateField', 'hint':'Cliquez sur le bouton correspondant à une journée d\'accueil pour insérer la date' }) }}                
            {{ form_row(form.welcomedByTeacher, { 'label': 'Accueilli par' }) }}  
            {% if form.suggestedClassLevel is defined %}
                {{ form_row(form.suggestedClassLevel[0].classLevel, { 'label': 'Niveau conseillé' }) }}
            {% endif %}
            {% if form.courses is defined %}
                {{ form_row(form.courses, { 'label': 'Inscrire aux cours' }) }} 
            {% else %}
                <div class="form-group ">
                    <label class="control-label" for="virgule_bundle_mainbundle_studenttype_emergencyContactPhoneNumber">Inscriptions aux cours </label>
                    <div class="controls">
                        <div class="alert alert-info">
                            Pour inscrire ou désinscrire cet apprenant d'un cours, rendez-vous sur la page "Gérer les inscriptions" du cours en question.
                        </div>
                    </div>
                </div>                
            {% endif %}
            {{ form_widget(form._token) }}