{% extends '::main_content.html.twig' %}
{% block content_title %}Listes d'apprenants{% endblock %} 
{%block submenu %}
    <a class="btn tip-bottom" href="#"> <i class="icon-export"></i>Exporter les données</a>
    <a class="btn tip-bottom" href="{{ path('student_new') }}"> <i class="icon-add"></i>Nouvel apprenant</a>
{% endblock %}
{% block main_content %}
<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th"></i>
            </span>
            <h5>Tous les apprenants inscrits à un cours de cette session : {{ entities|length }}</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>Pays</th>
                    <th>Sexe</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Téléphone fixe</th>
                    <th>Téléphone portable</th>
                    <th>Date d'inscription</th>
                    <th>Niveau conseillé</th>
                    <th>Inscrit en</th>
                    <th>Accueilli par</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr class="gradeA">
                    <td class="center">
                        <img src="{{ asset('img/drapeaux/' ~ entity['isoCode'] ~ '.png')}}" alt="{{  entity['isoCode'] }}" title="{{  entity['label'] }}" />
                    </td>
                    <td class="center">
                        {% if entity['gender'] == 'F' %}
                            <img src="{{ asset('img/icons/user_female.png') }}" />
                        {% else %}
                            <img src="{{ asset('img/icons/user.png') }}" />
                        {% endif %}
                    </td>
                    <td>{{ entity['firstname'] }}</td>
                    <td>{{ entity['lastname'] }}</td>
                    <td>{{ entity['phoneNumber']|phoneNumber }}</td>
                    <td>{{ entity['cellphoneNumber']|phoneNumber }}</td>
                    <td>{{ entity['registrationDate'] | date("d/m/Y") }}</td>
                    <td><insert class level></td>
                    <td>
                        {% for course in courses_array[entity['id']] %}
                            <a href="{{ path('course_show', { 'id': course['course_id'] }) }}">{{ course['level'] }}</a>{% if course != loop.last %},&nbsp;{% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('teacher_show', { 'id': entity['teacher_id'] }) }}">{{ entity['teacher_firstName'] }} {{ entity['teacher_lastName'] }}</td>
                    <td>
                        <a href="{{ path('student_show', { 'id':  entity['id'] }) }}">show</a>&nbsp;
                        <a href="{{ path('student_edit', { 'id':  entity['id'] }) }}">edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}