{% extends '::main_content.html.twig' %}
{% block content_title %}{{ title }}{% endblock %} 
{%block submenu %}
    <!--
    <a class="btn" href="#"> <i class="my-icon-export"></i>Exporter les données</a>
    <a class="btn" href="#"> <i class="my-icon-search-student"></i>Rechercher un apprenant</a>-->
    <a class="btn" href="{{ path('student_new') }}"> <i class="my-icon-add"></i>Nouvel apprenant</a>
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-md-12 center">
        <div class="widget-box">
            <div class="widget-title">
                <span class="label label-info tip-left" data-original-title="{{ students_array | length }} apprenant(s)">{{ students_array | length }}</span>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover with-check data-table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Téléphone</th>
                            <th>Inscrit en</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key,entity in students_array %}
                        <tr class="gradeA">
                            {% set countryName =  entity['nativeCountry'] | upper | country2 %}
                            <td class="center" data-order="{{ countryName }}">
                                <img src="{{ asset('img/drapeaux/' ~ entity['nativeCountry'] | lower ~ '.png')}}" alt="{{ countryName }}" title="{{ countryName }}" />
                            </td>                            
                            {% set gender = '' %}
                            {% if entity['gender'] == 'F' %}
                                {% set gender = 'Féminin' %}
                                {% set pictureName = 'user_female.png' %}
                            {% elseif entity['gender'] == 'M' %}
                                {% set gender = 'Masculin' %}
                                {% set pictureName = 'user.png' %}
                            {% endif %}
                            <td class="center" data-order="{{ gender }}">
                                {% if gender is not empty %}
                                    <img src="{{ asset('img/icons/' ~ pictureName ) }}" alt="{{ gender }}" title="{{ gender }}"  />
                                {% endif %}
                            </td>
                            <td>{{ entity['lastname'] }}</td>
                            <td>{{ entity['firstname'] }}</td>
                            <td class="center">
                                {% if entity['cellphoneNumber'] is empty %}
                                    {{ entity['phoneNumber']|phoneNumber }}
                                {% else %}
                                    {{ entity['cellphoneNumber']|phoneNumber }}
                                {% endif %}&nbsp;
                            </td>
                            <td>
                                {% if courses_array is defined and courses_array|length > 0 %}
                                    {% for course in courses_array[entity['student_id']] %}
                                        {# This test to not display enrollments from previous semester when displaying all the students #}
                                        {% if course['semester_id'] is defined and course['semester_id'] == app.session.get('currentSemester').id %}
                                            <a href="{{ path('course_show', { 'id': course['course_id'] }) }}">
                                            {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course['levelColorCode'], 'classLevelLabel': course['level'] } %} 
                                            </a>{% if course != loop.last %}&nbsp;{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td >                                
                                <div class="btn-group">
                                        <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><i class="icon-user icon-white"></i> Actions <span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-primary">    
                                            <li>
                                                <a href="{{ path('student_show', { 'id': entity['student_id'] }) }}"><i class="icon-eye-open"></i> Détails</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('student_edit', { 'id': entity['student_id'] }) }}"><i class="icon-pencil"></i> Modifier</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('student_preview_certificate', { 'id': entity['student_id'] }) }}"><i class="icon-certificate"></i> Attestation</a>
                                            </li>
                                        </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}