{% extends '::base.html.twig' %}
{% block body %}
<div id="results_actions">
    <h1>Liste des apprenants</h1>
    <div class="action_tab">
        <a class="add_entry" href="{{ path('student_new') }}">
            Enregistrer un apprenant
        </a>
    </div>
    <div class="action_tab">
        <a class="export_list" href="{{ path('student_new') }}">
            Exporter les données
        </a>
    </div>
</div>
<table class="records_list">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Prénom - Nom</th>
            <th>Téléphone fixe</th>
            <th>Téléphone portable</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            
            <td>                
                <img src="{{ asset('images/drapeaux/' ~ entity.nativeCountry.isoCode ~ '.png')}}" alt="{{ entity.nativeCountry.isoCode }}" title="{{ entity.nativeCountry.label }}" />
            </td>
            
            <td>
                {% if entity.gender == 'F' %}
                    <img src="{{ asset('images/icons/user_female.png') }}" />
                {% else %}
                    <img src="{{ asset('images/icons/user.png') }}" />
                {% endif %}
            </td>
            <td>
                <a href="{{ path('student_show', { 'id': entity.id }) }}">{{ entity.firstname }} {{ entity.lastname }}</a>
            </td>
            <td>{{ entity.phoneNumber }}</td>
            <td>{{ entity.cellphoneNumber }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('student_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('student_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    {% include '::pager_footer.html.twig' with { nb_columns: 6 }  %}
</table>
{% endblock %}