<div class="widget-box">
    <div class="widget-title">
            <span class="icon">
                    <i class="icon-th-list"></i>
            </span>
            <h5>{{ title }}</h5>
            <span title="{{ students | length }} apprenant(s)" class="label label-info tip-left">{{ students | length }}</span>
    </div>
    <div class="widget-content">
            {% if students is empty %}
                <div class="none-found">
                    Aucun apprenant trouvé
                    <br />
                    Inscrivez un apprenant à un cours en modifiant sa fiche
                </div>
            {% else %}
                {% if nbColumns is not defined %}
                    {% set nbColumns = 3 %}
                {% endif %}
                {% set listBreak = (students | length) // nbColumns %}
                {% if ((students | length) // nbColumns) > 0 %}{% set listBreak = listBreak + 1 %}{% endif %}
                {% if listBreak == 0 %}{% set listBreak = 1 %}{% endif %}
                {% set span_size = 12 /  nbColumns %}
                <div class="col-xs-12 col-md-{{ span_size }} col-lg-{{ span_size }}">
                    <ul>                    
                    {% for student in students %}
                        <li class="user_{{ student['gender'] }}">
                            <a href="{{ path('student_show', { 'id': student['student_id'] }) }}">{{ student['firstname']}} {{ student['lastname'] }}</a>
                            {% if student['nb_comments'] > 0 %}
                                <img src="{{ asset('img/icons/comment.png') }}" title="{{ student['nb_comments'] }} commentaire(s)" alt="{{ student['nb_comments'] }} commentaire(s)" />
                            {% endif %}
                        </li>
                        {% if loop.index % listBreak == 0  and loop.index != loop.last %}
                            </ul></div><div class="col-md-{{ span_size }}"><ul>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}                        
      <div class="clear_list"></div>
      {% if displayAllStudentButton is defined and displayAllStudentButton == true %}
        <ul class="recent-posts">
            <li class="viewall">
                <a href="{{ path('student_index') }}" class="tip-top" title=""> + Voir tous les apprenants + </a>
            </li>
        </ul>
      {% endif %}
      {% if displayMyStudentsButton is defined and displayMyStudentsButton == true %}
        <ul class="recent-posts">
            <li class="viewall">
                <a href="{{ path('index_my_students') }}" class="tip-top" title=""> + Voir mes apprenants + </a>
            </li>
        </ul>
      {% endif %}
    </div>
</div>
