{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
     <script type='text/javascript'>
        function setRegistrationDate(date) {
            document.getElementById('registrationDateField').value = date;
        }
     </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Enregistrer un nouvel apprenant{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('student_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-align-justify"></i>									
            </span>
            <h5>Informations personnelles et coordonnées</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.firstname, { 'label': 'Prénom'}) }}
            {{ form_row(form.lastname, { 'label': 'Nom' }) }}                
            {{ form_row(form.gender, { 'label': 'Sexe' }) }}                
            {{ form_row(form.birthdate, { 'label': 'Date de naissance', 'hint':'Cliquez une ou deux fois sur l\'en-tête du calendrier pour naviguer plus vite entre les années' }) }}                
            {{ form_row(form.nativeCountry, { 'label': 'Pays d\'origine' }) }}
            {{ form_row(form.arrivalDate, { 'label': 'Date d\'arrivée en France' }) }}
            {{ form_row(form.phoneNumber, { 'label': 'Téléphone fixe' }) }}
            {{ form_row(form.cellphoneNumber, { 'label': 'Téléphone portable' }) }}
            {{ form_row(form.address, { 'label': 'Adresse' }) }}
            {{ form_row(form.zipcode, { 'label': 'Code postal' }) }}
            {{ form_row(form.city, { 'label': 'Ville' }) }}
            {{ form_row(form.picture, { 'label': 'Photo' }) }}
        </div>
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-align-justify"></i>									
            </span>
            <h5>A contacter en cas d'urgence</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.emergencyContactFirstname, { 'label': 'Prénom' }) }}                
            {{ form_row(form.emergencyContactLastname, { 'label': 'Nom' }) }}  
            {{ form_row(form.emergencyContactPhoneNumber, { 'label': 'Numéro de téléphone' }) }}  
            {{ form_row(form.emergencyContactConnectionType, { 'label': 'Relation avec l\'apprenant' }) }}
        </div>
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-align-justify"></i>									
            </span>
            <h5>Inscription Croix-Rouge</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.registrationDate, { 'label': 'Accueilli le', 'id': 'registrationDateField', 'hint':'Cliquez sur le bouton correspondant à une journée d\'accueil pour insérer la date' }) }}                
            {{ form_row(form.welcomedByTeacher, { 'label': 'Accueilli par' }) }}  
            {% for suggestedClassLevel in form.suggestedClassLevel %}
                {{ form_row(suggestedClassLevel.classLevel, { 'label': 'Niveau conseillé' }) }}
            {% endfor %}
            {{ form_row(form.courses, { 'label': 'Inscrire aux cours' }) }}  
            {{ form_rest(form) }}
            <div class="form-actions">                                     
                <input class="btn btn-success" type="submit" value="Enregistrer l'apprenant" /> 
                <input class="btn btn-success" type="submit" name="save_and_add_new" value="Enregistrer et ajouter un autre" />
            </div>
        </div>
    </div>
</form>
{% endblock %}