{% extends '::main_content.html.twig' %}
{% block content_title %}Enregistrer un nouvel apprenant{% endblock %}
 {%block submenu %}{% endblock %}
{% block main_content %}
<form action="{{ path('student_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                    <i class="icon-align-justify"></i>									
            </span>
            <h5>Informations personnelles et coordonnées</h5>
        </div>
        <div class="widget-content nopadding">
            {{ form_row(form.firstname, { 'label': 'Prénom'}) }}
            {{ form_row(form.lastname, { 'label': 'Nom' }) }}                
            {{ form_row(form.birthdate, { 'label': 'Date de naissance' }) }}
            {{ form_rest(form) }}
            <div class="form-actions">                                     
                <input class="btn" type="submit" value="Enregistrer l'apprenant" />
            </div>
        </div>
    </div>
</form>
{% endblock %}