{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type='text/javascript'>
        $(function() {
            $('#classlevelsuggested_form').hide();
            
            $('#show_classlevelsuggested_form').click(function() {
                $('#classlevelsuggested_form').show();
                return false;
            });     
                    
            $('#change-student-level').click(function(e){
                e.preventDefault();
                bootbox.dialog({
                    message: 
                    title: "Changer le niveau conseillé pour {{ entity.firstName }} {{ entity.lastName }}",
                    buttons: {
                        no: {
                            label: "Annuler",
                            className: "btn-default"
                        },
                        yes: {
                            label: "Mettre à jour",
                            className: "btn-success",
                            callback: function() {
                                $("#change-student-level-form").submit();
                            }
                        }
                     }
                }).html;
            });
            
            
    $(function(){
            $('#delete-student').click(function(e){
                e.preventDefault();
                bootbox.dialog({
                    message: "Vous allez supprimer la fiche de <b>{{ entity.firstName }} {{ entity.lastName }}</b>, êtes-vous sûr(e) ?",
                    title: "Suppression d'une fiche apprenant",
                    buttons: {
                        no: {
                            label: "Non",
                            className: "btn-default"
                        },
                        yes: {
                            label: "Oui",
                            className: "btn-danger",
                            callback: function() {
                                $("#delete-student-form").submit();
                            }
                        }
                     }
                });
            });
        });
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Fiche apprenant: {{ entity.firstName }} {{ entity.lastName }}{% endblock %}
{%block submenu %}
    <a class="btn" href="{{ path('student_preview_certificate', { 'id': entity.id }) }}"> <i class="my-icon-user-certificate"></i>Générer une attestation</button>
    <a class="btn" href="{{ path('student_edit', { 'id': entity.id }) }}"> <i class="my-icon-user_edit"></i>Modifier la fiche</a>
    <a class="btn" href="#" id="delete-student"> <i class="my-icon-user_delete"></i>Supprimer la fiche</a>
    <form id="delete-student-form" action="{{ path('student_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}</form>
{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 form-horizontal not-form-horizontal">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                            <i class="icon-user"></i>
                    </span>
                    <h5>Informations personnelles</h5>
                </div>            
                <div class="widget-content nopadding">
                    <div class="control-group">
                        <label class="control-label">Prénom / Nom</label>
                        <div class="controls">{{ entity.firstName }} {{ entity.lastName | upper }}&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Inscrit{% if entity.gender =='F'%}e{% endif %} le </label>
                        <div class="controls">
                            {% if entity.registrationDate|date('Y-m-d') != "1970-01-01" %}
                                {{ entity.registrationDate|date('d/m/Y') }}
                            {% endif %}
                                &nbsp;
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Sexe</label>
                        <div class="controls">
                        {{ entity.gender | gender }}&nbsp;
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date de naissance</label>
                        <div class="controls">{{ entity.birthdate|date('d/m/Y') }} ({{ entity.age }} ans)&nbsp;</div>
                    </div>
                    {% if entity.nativeCountry != null %}
                    <div class="control-group">
                        <label class="control-label">Pays d'origine</label>
                        <div class="controls">{{  entity.nativeCountry | upper | country }}&nbsp;<img src="{{ asset('img/drapeaux/' ~ entity.nativeCountry ~ '.png')}}" alt="{{  entity.nativeCountry }}" title="{{  entity.nativeCountry | upper | country }}" />&nbsp;</div>
                    </div>
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label">Langue(s) parlée(s)</label>
                        <div class="controls">
                            {% for language in entity.spokenLanguages %}
                                {{ language.name }}{% if not loop.last %},{% endif %}
                            {% endfor %}&nbsp;
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Profession</label>
                        <div class="controls">{% if entity.profession != null %}{{ entity.profession }}{% else %}&nbsp;{% endif %}</div>
                    </div>
                </div>
                <div class="widget-title"><h5>Coordonnées</h5></div> 
                <div class="widget-content nopadding"> 
                    <div class="control-group">
                        <label class="control-label">Téléphone</label>
                        <div class="controls">{{ entity.phoneNumber|phoneNumber }}&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Téléphone portable</label>
                        <div class="controls">{{ entity.cellPhoneNumber|phoneNumber }}&nbsp;</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Adresse</label>
                        <div class="controls">{{ entity.address }} <br />{{ entity.zipcode }} {{ entity.city }}&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                {% if entity.webPath is not null %}
                {% set emergencyPanelSize = 8 %}
                    <div class="col-md-4">
                        <div class="widget-box" >
                            <div class="widget-title"></div>
                            <div class="widget-content center"> 
                                <div class="student-profile-picture">                                    
                                    <img src="{{ asset(entity.thumbnailWebPath) }}" class="img-polaroid" width="150" height="150" />
                                </div>                                
                                {% include 'VirguleMainBundle:Course:fullSizeProfilePicture.html.twig' with { 'id': entity.id, 'webPath': entity.webPath, 'firstname': entity.firstname, 'lastname': entity.lastname }  %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% set emergencyPanelSize = 12 %}
                {% endif %}
                <div class="col-md-{{ emergencyPanelSize }} form-horizontal not-form-horizontal">
                    <div class="widget-box" id="emergency_contact">
                        <div class="widget-title">
                            <span class="icon">
                                    <i class="icon-ambulance"></i>
                            </span>
                            <h5>Contact d'urgence</h5>
                        </div>            
                        <div class="widget-content nopadding">                         
                            <div class="control-group">
                                <label class="control-label">Personne à contacter</label>
                                <div class="controls">{{ entity.emergencyContactFirstname }} {{ entity.emergencyContactLastname }}&nbsp;</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Numéro de téléphone</label>
                                <div class="controls">{{ entity.emergencyContactPhoneNumber | phoneNumber }}&nbsp;</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Lien avec l'apprenant</label>
                                <div class="controls">{{ entity.emergencyContactConnectionType }}&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tabLevelHistory">Niveau conseillé</a></li>
                                <li><a data-toggle="tab" href="#tabAttendanceHistory">Présence</a></li>
                                <li><a data-toggle="tab" href="#tabComments">Commentaires ({{ entity.comments.count }})</a></li>
                            </ul>
                        </div>
                        <div class="widget-content tab-content">
                            <div id="tabLevelHistory" class="tab-pane active">
                                <ul class="no-img">
                                {% for classLevel in classLevels %}   
                                    <ul class="activity-list">
                                        <li>
                                            <a href="#">
                                                <strong>{{ classLevel['teacher_firstName'] }} {{ classLevel['teacher_lastName'] }}</strong> {% if loop.last %}l'a initialisé{% else %}l'a changé{% endif %} à <strong>{% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classLevel['classLevelColorCode'], 'classLevelLabel': classLevel['classLevelLabel'] } %}</strong>
                                                <span>le {{ classLevel['dateOfChange'] | date('d/m/Y') }}</span>
                                                {% if loop.first %}<i class="icon-ok"></i>{% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                {% endfor %}    
                                </ul>
                                <a class="btn btn-default" id="change-student-level">Mettre à jour le niveau de l'apprenant</a>
                                <div id="change-student-level-content" class="hide">
                                    <div id="modal-body">
                                        {% include 'VirguleMainBundle:ClassLevelSuggested:new.html.twig' with { 'form': classLevelSuggestedForm, 'studentId': entity.id } %},
                                    </div>
                                </div>
                            </div>
                            <div id="tabAttendanceHistory" class="tab-pane">
                                {% if nbEnrollment == 0 %}
                                    Cet apprenant n'a été inscrit à aucun cours
                                {% else %}                                
                                    <ul class="activity-list">
                                    {% for course in courses %}
                                        {% if loop.first %}
                                            {% set previousSemester = course.semester.id %}
                                        {% endif %}
                                        {% if previousSemester != course.semester.id or loop.first %}
                                            <li>
                                                Session du <strong>{{ course.semester.startDate | date('d/m/Y') }}</strong> au <strong>{{ course.semester.endDate | date('d/m/Y') }}</strong>
                                                {% if course.semester.id == app.session.get('currentSemester').id %}<i class="icon-ok"></i>{% endif %}
                                            </li>
                                        {% endif %}
                                            <li><a href="#"> <i class="icon-empty"></i>
                                                {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %} le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H:i') }} à {{ course.endTime | date('H:i') }} : 
                                                {% if nbClassSessionsAttended is not null %}
                                                    {% if nbClassSessionsAttended[course.id] is defined %}
                                                        {% if nbClassSessionsAttended[course.id]['nb_classsessions_attended'] > 0 %}
                                                            {% set attendance_rate = nbClassSessionsAttended[course.id]['nb_classsessions_attended'] / nbClassSessionsAttended[course.id]['nb_classsessions'] * 100 %}
                                                            présent{% if entity.gender =='F'%}e{% endif %} à 
                                                            <strong>{{ nbClassSessionsAttended[course.id]['nb_classsessions_attended'] }}</strong> cours sur <strong>{{ nbClassSessionsAttended[course.id]['nb_classsessions'] }}</strong> <strong>({{ '%.0f'|format(attendance_rate) }}%)</strong>
                                                        {% else %}
                                                            jamais présent
                                                        {% endif %}
                                                    {% else %}
                                                            aucun compte-rendu trouvé.
                                                    {% endif %}
                                                {% endif %}
                                                </a>
                                            </li>
                                            {% set previousSemester = course.semester.id %}
                                    {% endfor %}
                                    </ul>
                                {% endif %}                        
                            </div>
                            <div id="tabComments" class="tab-pane">
                                {% include 'VirguleMainBundle:Comment:index.html.twig' with {'comments': entity.comments }  %}                            
                                <a class="btn btn-default" id="add-comment">Ajouter un commentaire</a>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div><!-- span -->
</div><!-- row -->
                                                
            <!--
            <tr>
                <th>Scholarizedinthecountry</th>
                <td>{{ entity.scholarizedInTheCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizedinaforeigncountry</th>
                <td>{{ entity.scholarizedInAForeignCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizationlevel</th>
                <td>{{ entity.scholarizationLevel }}</td>
            </tr>

            </tr>
            -->
    
<div id="confirmDiv" >
   
</div> 
{% endblock %}