{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type='text/javascript'>
        $(function() {
            $('#classlevelsuggested_form').hide();
            
            $('#show_classlevelsuggested_form').click(function() {
                $('#classlevelsuggested_form').show();
                return false;
            });      
        });
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Fiche apprenant: {{ entity.firstName }} {{ entity.lastName }}{% endblock %}
{%block submenu %}
    <button  class="btn tip-bottom" type="submit"><i class="icon-user-certificate"></i>Générer une attestation</button>
    <a class="btn tip-bottom" href="{{ path('student_edit', { 'id': entity.id }) }}"> <i class="icon-user_edit"></i>Modifier la fiche</a>
    <form action="{{ path('student_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}<button  class="btn tip-bottom"><i class="icon-user_delete"></i>Supprimer la fiche</button></form>
{% endblock %}
{% block main_content %}
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span6 form-horizontal not-form-horizontal">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                    <i class="icon-user"></i>
                            </span>
                            <h5>Etat civil</h5>
                        </div>            
                        <div class="widget-content nopadding">
                            <div class="control-group">
                                <label class="control-label">Prénom / Nom</label>
                                <div class="controls">{{ entity.firstName }} {{ entity.lastName | upper }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Inscrit(e) le </label>
                                <div class="controls">{{ entity.registrationDate|date('d/m/Y') }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Sexe</label>
                                <div class="controls">
                                {{ entity.gender | gender }}
                                </div>
                            </div>
                            {% if entity.nativeCountry != null %}
                            <div class="control-group">
                                <label class="control-label">Pays d'origine</label>
                                <div class="controls">{{  entity.nativeCountry | upper | country }}&nbsp;<img src="{{ asset('img/drapeaux/' ~ entity.nativeCountry ~ '.png')}}" alt="{{  entity.nativeCountry }}" title="{{  entity.nativeCountry | upper | country }}" /></div>
                            </div>
                            {% endif %}
                            <div class="control-group">
                                <label class="control-label">Date de naissance</label>
                                <div class="controls">{{ entity.birthdate|date('d/m/Y') }} ({{ entity.age }} ans)</div>
                            </div>
                        </div>
                        <div class="widget-title"><h5>Coordonnées</h5></div> 
                        <div class="widget-content nopadding"> 
                            <div class="control-group">
                                <label class="control-label">Téléphone</label>
                                <div class="controls">{{ entity.phoneNumber|phoneNumber }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Téléphone portable</label>
                                <div class="controls">{{ entity.cellPhoneNumber|phoneNumber }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Adresse</label>
                                <div class="controls">{{ entity.address }} <br />{{ entity.zipcode }} {{ entity.city }}</div>
                            </div>
                        </div>
                        <div class="widget-title"><h5>Information sur les cours</h5></div> 
                        <div class="widget-content nopadding"> 
                            <div class="control-group">
                                <label class="control-label">Niveau de l'apprenant</label>
                                <div class="controls">
                                    <ul class="no-img">
                                    {% for classLevel in classLevels %}   
                                        <li>{% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classLevel['classLevelColorCode'], 'classLevelLabel': classLevel['classLevelLabel'] } %} : changé le {{ classLevel['dateOfChange'] | date('d/m/Y') }} par <a href="{{ path('teacher_show', { 'id': classLevel['teacher_id'] }) }}">{{ classLevel['teacher_firstName'] }} {{ classLevel['teacher_lastName'] }}</a></li>
                                    {% endfor %}    
                                    </ul>
                                    <a href="#" id="show_classlevelsuggested_form">Changer le niveau conseillé</a>
                                    <div id="classlevelsuggested_form">
                                        {% include 'VirguleMainBundle:ClassLevelSuggested:new.html.twig' with { 'form': classLevelSuggestedForm, 'studentId': entity.id } %}
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Historique des inscriptions</label>
                                <div class="controls">                                    
                                    {% if nbEnrollment == 0 %}
                                        Cet apprenant n'a été inscrit à aucun cours
                                    {% else %}
                                        {% for course in courses %}
                                            {% if loop.first %}
                                                {% set previousSemester = course.semester.id %}
                                            {% endif %}

                                            {% if previousSemester != course.semester.id or loop.first %}
                                                {% if not loop.first %}</li></ul>{% endif %}
                                                    Session du {{ course.semester.startDate | date('d/m/Y') }} au {{ course.semester.endDate | date('d/m/Y') }}
                                                    <ul class="no-img">
                                                {% endif %}
                                                    <li class="margin">
                                                        {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %} <a href="{{ path('course_show', { 'id': course.id }) }}">le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H:i') }} à {{ course.endTime | date('H:i') }}</a> : 
                                                        
                                                        {% if nbClassSessionsAttended is not null %}
                                                            {% if nbClassSessionsAttended[course.id]['nb_classsessions_attended'] > 0 %}
                                                                {% set attendance_rate = nbClassSessionsAttended[course.id]['nb_classsessions_attended'] / nbClassSessionsAttended[course.id]['nb_classsessions'] * 100 %}
                                                                présent{% if entity.gender =='F'%}e{% endif %} à 
                                                                {{ nbClassSessionsAttended[course.id]['nb_classsessions_attended'] }} cours sur {{ nbClassSessionsAttended[course.id]['nb_classsessions'] }} ({{ '%.0f'|format(attendance_rate) }}%)
                                                            {% else %}
                                                                jamais présent
                                                            {% endif %}
                                                        {% endif %}
                                                    </li>
                                                {% set previousSemester = course.semester.id %}
                                                {% if loop.last %}</li></ul>{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 form-horizontal not-form-horizontal">
                    <div class="widget-box" id="emergency_contact">
                        <div class="widget-title">
                            <h5>Contact d'urgence</h5>
                        </div>            
                        <div class="widget-content nopadding">                         
                            <div class="control-group">
                                <label class="control-label">Personne à contacter</label>
                                <div class="controls">{{ entity.emergencyContactFirstname }} {{ entity.emergencyContactLastname }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Numéro de téléphone</label>
                                <div class="controls">{{ entity.emergencyContactPhoneNumber | phoneNumber }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Lien avec l'apprenant</label>
                                <div class="controls">{{ entity.emergencyContactConnectionType }}</div>
                            </div>
                        </div>
                    </div>
                {% include 'VirguleMainBundle:Comment:index.html.twig' with {'comments': entity.comments }  %}
             </div><!-- span -->
        </div><!-- row -->
        <div class="row-fluid">
            <div class="span6">
            </div>
        </div>
</div>
                                                
            <!--
            <tr>
                <th>Profession</th>
                <td>{{ entity.profession }}</td>
            </tr>
            <tr>
                <th>Scholarizedinthecountry</th>
                <td>{{ entity.scholarizedInTheCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizedinaforeigncountry</th>
                <td>{{ entity.scholarizedInAForeignCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizationlevel</th>
                <td>{{ entity.scholarizationLevel }}</td>
            </tr>

            </tr>
            -->
    
{% endblock %}