{% extends '::main_content.html.twig' %}
{% block head %}    
    {{ parent() }}
    {% block javascripts %}
        <script type='text/javascript'>
        $(function() {
            $('#classlevelsuggested_form').hide();
            
            $('#show_classlevelsuggested_form').click(function() {
                $('#classlevelsuggested_form').show();
                return false;
            });      
        });
        </script>
    {% endblock %}
{% endblock %}
{% block content_title %}Fiche apprenant{% endblock %}
{%block submenu %}
    <button  class="btn tip-bottom" type="submit"><i class="icon-user-certificate"></i>Générer une attestation</button>
    {% if app.user.id == entity.id %}
        <a class="btn tip-bottom" href="{{ path('student_edit', { 'id': entity.id }) }}"> <i class="icon-user_edit"></i>Modifier la fiche</a>
    {% endif %}    
    <!--<form action="{{ path('student_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}-->
        <button  class="btn tip-bottom" type="submit"><i class="icon-user_delete"></i>Supprimer la fiche</button>
    <!-</form>-->
{% endblock %}
{% block main_content %}
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span6 form-horizontal not-form-horizontal">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                    <i class="icon-user"></i>
                            </span>
                            <h5>{{ entity.firstName }} {{ entity.lastName }}</h5>
                        </div>            
                        <div class="widget-content nopadding">
                            <div class="control-group">
                                <label class="control-label">Inscrit(e) le </label>
                                <div class="controls">{{ entity.registrationDate|date('d/m/Y') }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Sexe</label>
                                <div class="controls">
                                {{ entity.gender | gender }}
                                </div>
                            </div>
                            {% if entity.nativeCountry != null %}
                            <div class="control-group">
                                <label class="control-label">Pays d'origine</label>
                                <div class="controls">{{  entity.nativeCountry | upper | country }}&nbsp;<img src="{{ asset('img/drapeaux/' ~ entity.nativeCountry ~ '.png')}}" alt="{{  entity.nativeCountry }}" title="{{  entity.nativeCountry | upper | country }}" /></div>
                            </div>
                            {% endif %}
                            <div class="control-group">
                                <label class="control-label">Date de naissance</label>
                                <div class="controls">{{ entity.birthdate|date('d/m/Y') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title"><h5>Coordonnées</h5></div> 
                        <div class="widget-content nopadding"> 
                            <div class="control-group">
                                <label class="control-label">Téléphone</label>
                                <div class="controls">{{ entity.phoneNumber|phoneNumber }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Téléphone portable</label>
                                <div class="controls">{{ entity.cellPhoneNumber|phoneNumber }}</div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Adresse</label>
                                <div class="controls">{{ entity.address }} <br />{{ entity.zipcode }} {{ entity.city }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">                    
                    {% if courses|length > 0 %}
                    <div class="widget-box">
                        <div class="widget-title">
                            <h5>Historique des inscriptions</h5>
                            <span title="{{ courses|length }} inscriptions(s)" class="label label-info tip-left">{{ courses|length }}</span>
                        </div>
                        <div class="widget-content nopadding">
                            <ul class="recent-posts">
                                {% if nbEnrollment == 0 %}
                                    Cet apprenant n'a été inscrit à aucun cours
                                {% else %}
                                    {% for course in courses %}
                                        {% if loop.first %}
                                            {% set previousSemester = course.semester.id %}
                                        {% endif %}
                                    
                                        {% if previousSemester != course.semester.id or loop.first %}
                                            {% if not loop.first %}</div></li>{% endif %}
                                                <li>
                                                <div class="article-post">
                                                    <span class="user-info">du {{ course.semester.startDate | date('d/m/Y') }} au {{ course.semester.endDate | date('d/m/Y') }}</span>
                                            {% endif %}
                                                <p>
                                                    {% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': course.classLevel.htmlColorCode, 'classLevelLabel': course.classLevel.label } %} le {{ course.dayOfWeek | day }} de {{ course.startTime | date('H:i') }} à {{ course.endTime | date('H:i') }} 
                                                    <a href="{{ path('course_show', { 'id': course.id }) }}">Voir ce cours</a>
                                                </p>
                                            {% set previousSemester = course.semester.id %}
                                            {% if loop.last %}</div></li>{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                         </div>
                    </div>
                    {% endif %}
                    {% if classLevels | length > 0 %}
                    <div class="widget-box">
                        <div class="widget-title">
                            <h5>Historique des niveaux conseillés</h5>
                            <span title="{{ classLevels|length }} inscriptions(s)" class="label label-info tip-left">{{ classLevels|length }}</span>
                        </div>
                        <div class="widget-content">
                            <ul class="no-img">
                                {% if classLevels == 0 %}
                                    Pas de niveau conseillé pour le moment, voulez-vous le mettre à jour ?
                                {% else %}
                                    {% for classLevel in classLevels %}
                                        <li>{% include '::class_level_badge.html.twig'  with { 'classLevelColorCode': classLevel['classLevelColorCode'], 'classLevelLabel': classLevel['classLevelLabel'] } %} : changé le {{ classLevel['dateOfChange'] | date('d/m/Y') }} par {{ classLevel['teacher_firstName'] }} {{ classLevel['teacher_lastName'] }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                                <a href="#" id="show_classlevelsuggested_form">Changer le niveau conseillé</a>
                            <div id="classlevelsuggested_form">
                                {% include 'VirguleMainBundle:ClassLevelSuggested:new.html.twig' with { 'form': classLevelSuggestedForm, 'studentId': entity.id } %}
                            </div>
                         </div>
                    </div>
                    {% endif %}
                    {% include 'VirguleMainBundle:Comment:new.html.twig' with {'commentForm': commentForm, 'target_id': entity.id, 'target_route': 'student_comment_create' }  %}
                    {% include 'VirguleMainBundle:Comment:index.html.twig' with {'comments': entity.comments }  %}
             </div><!-- span -->
        </div><!-- row -->
        <div class="row-fluid">
            <div class="span6">
            </div>
        </div>
</div>
                                                
            <!--
            <tr>
                <th>Profession</th>
                <td>{{ entity.profession }}</td>
            </tr>
            <tr>
                <th>Scholarizedinthecountry</th>
                <td>{{ entity.scholarizedInTheCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizedinaforeigncountry</th>
                <td>{{ entity.scholarizedInAForeignCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizationlevel</th>
                <td>{{ entity.scholarizationLevel }}</td>
            </tr>
            <tr>
                <th>Emergencycontactlastname</th>
                <td>{{ entity.emergencyContactLastname }}</td>
            </tr>
            <tr>
                <th>Emergencycontactfirstname</th>
                <td>{{ entity.emergencyContactFirstname }}</td>
            </tr>
            <tr>
                <th>Emergencycontactphonenumber</th>
                <td>{{ entity.emergencyContactPhoneNumber }}</td>
            </tr>
            <tr>
                <th>Emergencycontactconnectiontype</th>
                <td>{{ entity.emergencyContactConnectionType }}</td>
            </tr>
            -->
    
{% endblock %}