{% extends '::base.html.twig' %}
{% block body %}
<h1>{{ entity.firstname }} {{ entity.lastname }} 
    <img src="{{ asset('images/drapeaux/' ~ entity.nativeCountry.isoCode ~ '.png')}}" alt="{{  entity.nativeCountry.isoCode }}" title="{{  entity.nativeCountry.label }}" />
                {% if entity.gender == 'F' %}
    <img src="{{ asset('images/icons/user_female.png') }}" />
                {% else %}
    <img src="{{ asset('images/icons/user.png') }}" />
                {% endif %}
</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Fiche créée le</th>
            <td>{{ entity.registrationDate|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Né le</th>
            <td>{{ entity.birthdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ entity.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Téléphone portable</th>
            <td>{{ entity.cellphoneNumber }}</td>
        </tr>
        <tr>
            <th>Addresse</th>
            <td>{{ entity.address }} <br />{{ entity.zipcode }} {{ entity.city }}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{{ entity.nationality }}</td>
        </tr>
        <tr>
            <th>Maritalstatus</th>
            <td>{{ entity.maritalStatus }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>
                <ul>
                {% for comment in entity.comments %}
                        <li>
                            le  {{ comment.date|date("d/m/Y") }} par <a href="{{ path('teacher_show', { 'id': comment.teacher.id }) }}">{{ comment.teacher.firstName }}  {{ comment.teacher.lastName }}</a>: <br />
                    {{ comment.comment|raw }}
                        </li>
                {% endfor %}
                    </ul>
                </td>
            </tr>
            <!--
            <tr>
                <th>Profession</th>
                <td>{{ entity.profession }}</td>
            </tr>
            <tr>
                <th>Scholarizedinthecountry</th>
                <td>{{ entity.scholarizedInTheCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizedinaforeigncountry</th>
                <td>{{ entity.scholarizedInAForeignCountry }}</td>
            </tr>
            <tr>
                <th>Scholarizationlevel</th>
                <td>{{ entity.scholarizationLevel }}</td>
            </tr>
            <tr>
                <th>Emergencycontactlastname</th>
                <td>{{ entity.emergencyContactLastname }}</td>
            </tr>
            <tr>
                <th>Emergencycontactfirstname</th>
                <td>{{ entity.emergencyContactFirstname }}</td>
            </tr>
            <tr>
                <th>Emergencycontactphonenumber</th>
                <td>{{ entity.emergencyContactPhoneNumber }}</td>
            </tr>
            <tr>
                <th>Emergencycontactconnectiontype</th>
                <td>{{ entity.emergencyContactConnectionType }}</td>
            </tr>
            -->
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('student_index') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('student_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('student_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
        <form action="{{ path('student_comment_create', { 'student_id': entity.id }) }}" method="post" {{ form_enctype(commentForm) }} class="uniForm">
            <fieldset>
        {{ form_row(commentForm.comment, { 'label': 'Commentaire'}) }}
        {{ form_rest(commentForm) }}
                    <p>
                        <button type="submit">Ajouter un commentaire</button>
                    </p>
                </fieldset>
            </form>

{% endblock %}