<h1>Student</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Registrationdate</th>
            <td>{{ entity.registrationDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Birthdate</th>
            <td>{{ entity.birthdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Phonenumber</th>
            <td>{{ entity.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Cellphonenumber</th>
            <td>{{ entity.cellphoneNumber }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Zipcode</th>
            <td>{{ entity.zipcode }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ entity.gender }}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{{ entity.nationality }}</td>
        </tr>
        <tr>
            <th>Maritalstatus</th>
            <td>{{ entity.maritalStatus }}</td>
        </tr>
        <tr>
            <th>Commentaires</th>
            <td>{{ entity.commentaires }}</td>
        </tr>
        <tr>
            <th>Registringdate</th>
            <td>{{ entity.registringDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Picturepath</th>
            <td>{{ entity.picturePath }}</td>
        </tr>
        <tr>
            <th>Arrivaldate</th>
            <td>{{ entity.arrivalDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Scholarized</th>
            <td>{{ entity.scholarized }}</td>
        </tr>
        <tr>
            <th>Profession</th>
            <td>{{ entity.profession }}</td>
        </tr>
        <tr>
            <th>Scholarizedinthecountry</th>
            <td>{{ entity.scholarizedInTheCountry }}</td>
        </tr>
        <tr>
            <th>Scholarizedinaforeigncountry</th>
            <td>{{ entity.scholarizedInAForeignCountry }}</td>
        </tr>
        <tr>
            <th>Scholarizationlevel</th>
            <td>{{ entity.scholarizationLevel }}</td>
        </tr>
        <tr>
            <th>Emergencycontactlastname</th>
            <td>{{ entity.emergencyContactLastname }}</td>
        </tr>
        <tr>
            <th>Emergencycontactfirstname</th>
            <td>{{ entity.emergencyContactFirstname }}</td>
        </tr>
        <tr>
            <th>Emergencycontactphonenumber</th>
            <td>{{ entity.emergencyContactPhoneNumber }}</td>
        </tr>
        <tr>
            <th>Emergencycontactconnectiontype</th>
            <td>{{ entity.emergencyContactConnectionType }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('student_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('student_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
